# 실습하기

## 데이터 준비

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn import svm

df = pd.read_csv("https://raw.githubusercontent.com/YoungjinBD/dataset/main/titanic.csv")
print(df.describe(include='all'))
print(df.info())

        PassengerId    Survived      Pclass                     Name   Sex  \
count    891.000000  891.000000  891.000000                      891   891
unique          NaN         NaN         NaN                      891     2
top             NaN         NaN         NaN  Braund, Mr. Owen Harris  male
freq            NaN         NaN         NaN                        1   577
mean     446.000000    0.383838    2.308642                      NaN   NaN
std      257.353842    0.486592    0.836071                      NaN   NaN
min        1.000000    0.000000    1.000000                      NaN   NaN
25%      223.500000    0.000000    2.000000                      NaN   NaN
50%      446.000000    0.000000    3.000000                      NaN   NaN
75%      668.500000    1.000000    3.000000                      NaN   NaN
max      891.000000    1.000000    3.000000                      NaN   NaN

               Age       SibSp       Parch  Ticket        Fare    Cabin  \
count   714.000000  891.000000  891.000000     891  891.000000      204
unique         NaN         NaN         NaN     681         NaN      147
top            NaN         NaN         NaN  347082         NaN  B96 B98
freq           NaN         NaN         NaN       7         NaN        4
mean     29.699118    0.523008    0.381594     NaN   32.204208      NaN
std      14.526497    1.102743    0.806057     NaN   49.693429      NaN
min       0.420000    0.000000    0.000000     NaN    0.000000      NaN
25%      20.125000    0.000000    0.000000     NaN    7.910400      NaN
50%      28.000000    0.000000    0.000000     NaN   14.454200      NaN
75%      38.000000    1.000000    0.000000     NaN   31.000000      NaN
max      80.000000    8.000000    6.000000     NaN  512.329200      NaN

       Embarked
count       889
unique        3
top           S
freq        644
mean        NaN
std         NaN
min         NaN
25%         NaN
50%         NaN
75%         NaN
max         NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

## 데이터 전처리

### 결측치 처리

In [3]:
print(df.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
df['Age'].fillna(df['Age'].mean(),inplace=True)
df['Embarked'].fillna(df['Embarked'].mode()[0],inplace=True)
print(df.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

/tmp/ipykernel_71670/261776523.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(),inplace=True)

### 원-핫 인코딩

In [7]:
onehot_sex = pd.get_dummies(df['Sex'])
df = pd.concat([df,onehot_sex],axis=1)
print(df)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex        Age  \
0                              Braund, Mr. Owen Harris    male  22.000000
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.000000
2                               Heikkinen, Miss. Laina  female  26.000000
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.000000
4                             Allen, Mr. William Henry    male  35.000000
..                                                 ...     ...        ...
886                              Montvila, Rev. Juozas    male  27.000000
887                       Graham, Miss. Margaret Edith  female  19.000000
888           Johnston, Miss. Catherine Helen "Carrie"  female  29.699118
889                              Behr, Mr. Karl Howell    male  26.000000
890                                Dooley, Mr. Patrick    male  32.000000

     SibSp  Parch            Ticket     Fare Cabin Embarked  female   male
0        1      0         A/5 21171   7.2500   NaN        S   False   True
1        1      0          PC 17599  71.2833   C85        C    True  False
2        0      0  STON/O2. 3101282   7.9250   NaN        S    True  False
3        1      0            113803  53.1000  C123        S    True  False
4        0      0            373450   8.0500   NaN        S   False   True
..     ...    ...               ...      ...   ...      ...     ...    ...
886      0      0            211536  13.0000   NaN        S   False   True
887      0      0            112053  30.0000   B42        S    True  False
888      1      2        W./C. 6607  23.4500   NaN        S    True  False
889      0      0            111369  30.0000  C148        C   False   True
890      0      0            370376   7.7500   NaN        Q   False   True

[891 rows x 14 columns]

In [8]:
onehotEmbarked = pd.get_dummies(df['Embarked'])
df = pd.concat([df,onehotEmbarked],axis=1)
print(df)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex        Age  \
0                              Braund, Mr. Owen Harris    male  22.000000
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.000000
2                               Heikkinen, Miss. Laina  female  26.000000
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.000000
4                             Allen, Mr. William Henry    male  35.000000
..                                                 ...     ...        ...
886                              Montvila, Rev. Juozas    male  27.000000
887                       Graham, Miss. Margaret Edith  female  19.000000
888           Johnston, Miss. Catherine Helen "Carrie"  female  29.699118
889                              Behr, Mr. Karl Howell    male  26.000000
890                                Dooley, Mr. Patrick    male  32.000000

     SibSp  Parch            Ticket     Fare Cabin Embarked  female   male  \
0        1      0         A/5 21171   7.2500   NaN        S   False   True
1        1      0          PC 17599  71.2833   C85        C    True  False
2        0      0  STON/O2. 3101282   7.9250   NaN        S    True  False
3        1      0            113803  53.1000  C123        S    True  False
4        0      0            373450   8.0500   NaN        S   False   True
..     ...    ...               ...      ...   ...      ...     ...    ...
886      0      0            211536  13.0000   NaN        S   False   True
887      0      0            112053  30.0000   B42        S    True  False
888      1      2        W./C. 6607  23.4500   NaN        S    True  False
889      0      0            111369  30.0000  C148        C   False   True
890      0      0            370376   7.7500   NaN        Q   False   True

         C      Q      S
0    False  False   True
1     True  False  False
2    False  False   True
3    False  False   True
4    False  False   True
..     ...    ...    ...
886  False  False   True
887  False  False   True
888  False  False   True
889   True  False  False
890  False   True  False

[891 rows x 17 columns]

### 파생변수 생성

In [9]:
df['FamilySize'] = df['SibSp']+df['Parch']

## 분석 데이터 셋 준비

In [10]:
print(df.describe(include='all'))

        PassengerId    Survived      Pclass                     Name   Sex  \
count    891.000000  891.000000  891.000000                      891   891
unique          NaN         NaN         NaN                      891     2
top             NaN         NaN         NaN  Braund, Mr. Owen Harris  male
freq            NaN         NaN         NaN                        1   577
mean     446.000000    0.383838    2.308642                      NaN   NaN
std      257.353842    0.486592    0.836071                      NaN   NaN
min        1.000000    0.000000    1.000000                      NaN   NaN
25%      223.500000    0.000000    2.000000                      NaN   NaN
50%      446.000000    0.000000    3.000000                      NaN   NaN
75%      668.500000    1.000000    3.000000                      NaN   NaN
max      891.000000    1.000000    3.000000                      NaN   NaN

               Age       SibSp       Parch  Ticket        Fare    Cabin  \
count   891.000000  891.000000  891.000000     891  891.000000      204
unique         NaN         NaN         NaN     681         NaN      147
top            NaN         NaN         NaN  347082         NaN  B96 B98
freq           NaN         NaN         NaN       7         NaN        4
mean     29.699118    0.523008    0.381594     NaN   32.204208      NaN
std      13.002015    1.102743    0.806057     NaN   49.693429      NaN
min       0.420000    0.000000    0.000000     NaN    0.000000      NaN
25%      22.000000    0.000000    0.000000     NaN    7.910400      NaN
50%      29.699118    0.000000    0.000000     NaN   14.454200      NaN
75%      35.000000    1.000000    0.000000     NaN   31.000000      NaN
max      80.000000    8.000000    6.000000     NaN  512.329200      NaN

       Embarked female  male      C      Q     S  FamilySize
count       891    891   891    891    891   891  891.000000
unique        3      2     2      2      2     2         NaN
top           S  False  True  False  False  True         NaN
freq        646    577   577    723    814   646         NaN
mean        NaN    NaN   NaN    NaN    NaN   NaN    0.904602
std         NaN    NaN   NaN    NaN    NaN   NaN    1.613459
min         NaN    NaN   NaN    NaN    NaN   NaN    0.000000
25%         NaN    NaN   NaN    NaN    NaN   NaN    0.000000
50%         NaN    NaN   NaN    NaN    NaN   NaN    0.000000
75%         NaN    NaN   NaN    NaN    NaN   NaN    1.000000
max         NaN    NaN   NaN    NaN    NaN   NaN   10.000000

In [12]:
x = df[['Pclass','Age','Fare','female','male','C','Q','S','FamilySize']]
y = df['Survived']

In [13]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state = 11)
print(x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(712, 9) (179, 9) (712,) (179,)

## 분석 진행

In [14]:
sv = svm.SVC(kernel='rbf')
sv.fit(x_train,y_train)
pred = sv.predict(x_test)

## 모델 평가

In [15]:
acc = accuracy_score(pred,y_test)
print(acc)
cm = confusion_matrix(pred,y_test)
print(cm)
cr = classification_report(pred,y_test)
print(cr)

0.7206703910614525
[[110  42]
 [  8  19]]
              precision    recall  f1-score   support

           0       0.93      0.72      0.81       152
           1       0.31      0.70      0.43        27

    accuracy                           0.72       179
   macro avg       0.62      0.71      0.62       179
weighted avg       0.84      0.72      0.76       179

# 연습하기

In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn import svm
sv = svm.SVC(kernel='rbf')

# 데이터 준비
df = pd.read_csv("https://raw.githubusercontent.com/YoungjinBD/dataset/main/titanic.csv")

# 데이터 전처리
## 결측치 처리
df['Age'].fillna(df['Age'].mean(),inplace=True)
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

## 원핫인코딩
onehotSex = pd.get_dummies(df['Sex'])
onehotEmbarked = pd.get_dummies(df['Embarked'])
df = pd.concat([df,onehotSex,onehotEmbarked],axis=1)

## 파생함수 생성
df['FamilySize'] = df['SibSp'] + df['Parch']

## 데이터 확인

# 분석 데이터셋 준비
x = df[['Pclass','Age','Fare','FamilySize','female','male','C','Q','S']]
y = df['Survived']
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.2, random_state = 11)

# 분석 진행
sv.fit(x_train,y_train)
pred = sv.predict(x_test)

# 모델 평가
acc = accuracy_score(y_test, pred)
print(acc)
cm = confusion_matrix(y_test, pred)
print(cm)
cr = classification_report(y_test, pred)
print(cr)

0.7206703910614525
[[110   8]
 [ 42  19]]
              precision    recall  f1-score   support

           0       0.72      0.93      0.81       118
           1       0.70      0.31      0.43        61

    accuracy                           0.72       179
   macro avg       0.71      0.62      0.62       179
weighted avg       0.72      0.72      0.68       179

/tmp/ipykernel_80574/828455910.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(),inplace=True)
/tmp/ipykernel_80574/828455910.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)