# 실습하기

## 데이터 준비

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
from sklearn.preprocessing import MinMaxScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report 
from sklearn.ensemble import RandomForestClassifier

df = pd.read_csv("https://raw.githubusercontent.com/YoungjinBD/dataset/main/titanic.csv")
print(df.describe(include='all'))
print(df.info())

        PassengerId    Survived      Pclass                     Name   Sex  \
count    891.000000  891.000000  891.000000                      891   891
unique          NaN         NaN         NaN                      891     2
top             NaN         NaN         NaN  Braund, Mr. Owen Harris  male
freq            NaN         NaN         NaN                        1   577
mean     446.000000    0.383838    2.308642                      NaN   NaN
std      257.353842    0.486592    0.836071                      NaN   NaN
min        1.000000    0.000000    1.000000                      NaN   NaN
25%      223.500000    0.000000    2.000000                      NaN   NaN
50%      446.000000    0.000000    3.000000                      NaN   NaN
75%      668.500000    1.000000    3.000000                      NaN   NaN
max      891.000000    1.000000    3.000000                      NaN   NaN

               Age       SibSp       Parch  Ticket        Fare    Cabin  \
count   714.000000  891.000000  891.000000     891  891.000000      204
unique         NaN         NaN         NaN     681         NaN      147
top            NaN         NaN         NaN  347082         NaN  B96 B98
freq           NaN         NaN         NaN       7         NaN        4
mean     29.699118    0.523008    0.381594     NaN   32.204208      NaN
std      14.526497    1.102743    0.806057     NaN   49.693429      NaN
min       0.420000    0.000000    0.000000     NaN    0.000000      NaN
25%      20.125000    0.000000    0.000000     NaN    7.910400      NaN
50%      28.000000    0.000000    0.000000     NaN   14.454200      NaN
75%      38.000000    1.000000    0.000000     NaN   31.000000      NaN
max      80.000000    8.000000    6.000000     NaN  512.329200      NaN

       Embarked
count       889
unique        3
top           S
freq        644
mean        NaN
std         NaN
min         NaN
25%         NaN
50%         NaN
75%         NaN
max         NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

## 데이터 전처리

### 결측치 처리

In [2]:
print(df.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [3]:
df['Age'].fillna(df['Age'].mean(),inplace=True)
df['Embarked'].fillna(df['Embarked'].mode()[0],inplace=True)
print(df.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

/tmp/ipykernel_93562/261776523.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(),inplace=True)
/tmp/ipykernel_93562/261776523.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Embarked'].fillna(df['Embarked'].mode()[0],inplace=True)

### 원핫인코딩

In [4]:
onehotSex = pd.get_dummies(df['Sex'])
onehotEmbarked = pd.get_dummies(df['Embarked'])
df = pd.concat([df,onehotSex,onehotEmbarked],axis=1)

### 파생변수 생성

In [5]:
df['FamilySize'] = df['SibSp']+df['Parch']

### 데이터 확인

In [6]:
print(df.describe(include='all'))

        PassengerId    Survived      Pclass                     Name   Sex  \
count    891.000000  891.000000  891.000000                      891   891
unique          NaN         NaN         NaN                      891     2
top             NaN         NaN         NaN  Braund, Mr. Owen Harris  male
freq            NaN         NaN         NaN                        1   577
mean     446.000000    0.383838    2.308642                      NaN   NaN
std      257.353842    0.486592    0.836071                      NaN   NaN
min        1.000000    0.000000    1.000000                      NaN   NaN
25%      223.500000    0.000000    2.000000                      NaN   NaN
50%      446.000000    0.000000    3.000000                      NaN   NaN
75%      668.500000    1.000000    3.000000                      NaN   NaN
max      891.000000    1.000000    3.000000                      NaN   NaN

               Age       SibSp       Parch  Ticket        Fare    Cabin  \
count   891.000000  891.000000  891.000000     891  891.000000      204
unique         NaN         NaN         NaN     681         NaN      147
top            NaN         NaN         NaN  347082         NaN  B96 B98
freq           NaN         NaN         NaN       7         NaN        4
mean     29.699118    0.523008    0.381594     NaN   32.204208      NaN
std      13.002015    1.102743    0.806057     NaN   49.693429      NaN
min       0.420000    0.000000    0.000000     NaN    0.000000      NaN
25%      22.000000    0.000000    0.000000     NaN    7.910400      NaN
50%      29.699118    0.000000    0.000000     NaN   14.454200      NaN
75%      35.000000    1.000000    0.000000     NaN   31.000000      NaN
max      80.000000    8.000000    6.000000     NaN  512.329200      NaN

       Embarked female  male      C      Q     S  FamilySize
count       891    891   891    891    891   891  891.000000
unique        3      2     2      2      2     2         NaN
top           S  False  True  False  False  True         NaN
freq        646    577   577    723    814   646         NaN
mean        NaN    NaN   NaN    NaN    NaN   NaN    0.904602
std         NaN    NaN   NaN    NaN    NaN   NaN    1.613459
min         NaN    NaN   NaN    NaN    NaN   NaN    0.000000
25%         NaN    NaN   NaN    NaN    NaN   NaN    0.000000
50%         NaN    NaN   NaN    NaN    NaN   NaN    0.000000
75%         NaN    NaN   NaN    NaN    NaN   NaN    1.000000
max         NaN    NaN   NaN    NaN    NaN   NaN   10.000000

## 분석 데이터 셋 준비

In [7]:
x = df[['Pclass','Age','Fare','FamilySize','female','male','C','Q','S']]
y = df['Survived']

In [8]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.2, random_state = 11)

## 분석 진행

In [9]:
rfc = RandomForestClassifier(n_estimators = 50, max_depth = 3, random_state = 20)
rfc.fit(x_train,y_train)
pred = rfc.predict(x_test)

## 모델 평가

In [10]:
acc = accuracy_score(y_test, pred)
print(acc)
cm = confusion_matrix(y_test, pred)
print(cm)
cr = classification_report(y_test, pred)
print(cr)

0.8659217877094972
[[110   8]
 [ 16  45]]
              precision    recall  f1-score   support

           0       0.87      0.93      0.90       118
           1       0.85      0.74      0.79        61

    accuracy                           0.87       179
   macro avg       0.86      0.83      0.85       179
weighted avg       0.86      0.87      0.86       179

# 연습하기

In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
from sklearn.preprocessing import MinMaxScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.ensemble import RandomForestClassifier

df = pd.read_csv("https://raw.githubusercontent.com/YoungjinBD/dataset/main/titanic.csv")

df['Age'].fillna(df['Age'].mean(),inplace=True)
df['Embarked'].fillna(df['Embarked'].mode()[0],inplace=True)

onehotSex = pd.get_dummies(df['Sex'])
onehotEmbarked = pd.get_dummies(df['Embarked'])

df['FamilySize']  = df['SibSp'] + df['Parch']
df = pd.concat([df,onehotSex,onehotEmbarked],axis=1)

x = df[['Pclass','Age','Fare','FamilySize','female','male','C','Q','S']]
y = df['Survived']

x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = 0.2, random_state = 11)

rfc = RandomForestClassifier(n_estimators = 50, max_depth = 3, random_state = 20)
rfc.fit(x_train,y_train)
pred = rfc.predict(x_test)

acc = accuracy_score(y_test,pred)
print(acc)
cm = confusion_matrix(y_test,pred)
print(cm)
cr = classification_report(y_test,pred)
print(cr)

0.8659217877094972
[[110   8]
 [ 16  45]]
              precision    recall  f1-score   support

           0       0.87      0.93      0.90       118
           1       0.85      0.74      0.79        61

    accuracy                           0.87       179
   macro avg       0.86      0.83      0.85       179
weighted avg       0.86      0.87      0.86       179

/tmp/ipykernel_3250/4183608419.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(),inplace=True)
/tmp/ipykernel_3250/4183608419.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Embarked'].fillna(df['Embarked'].mode()[0],inplace=True)