# 실습하기

## 데이터 가져오기

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error, accuracy_score, confusion_matrix, classification_report 
from sklearn.ensemble import RandomForestRegressor
df = pd.read_csv("https://raw.githubusercontent.com/YoungjinBD/dataset/main/housing.csv")
print(df.describe(include='all'))
print(df.info())

           longitude      latitude  housing_median_age   total_rooms  \
count   20640.000000  20640.000000        20640.000000  20640.000000
unique           NaN           NaN                 NaN           NaN
top              NaN           NaN                 NaN           NaN
freq             NaN           NaN                 NaN           NaN
mean     -119.569704     35.631861           28.639486   2635.763081
std         2.003532      2.135952           12.585558   2181.615252
min      -124.350000     32.540000            1.000000      2.000000
25%      -121.800000     33.930000           18.000000   1447.750000
50%      -118.490000     34.260000           29.000000   2127.000000
75%      -118.010000     37.710000           37.000000   3148.000000
max      -114.310000     41.950000           52.000000  39320.000000

        total_bedrooms    population    households  median_income  \
count     20433.000000  20640.000000  20640.000000   20640.000000
unique             NaN           NaN           NaN            NaN
top                NaN           NaN           NaN            NaN
freq               NaN           NaN           NaN            NaN
mean        537.870553   1425.476744    499.539680       3.870671
std         421.385070   1132.462122    382.329753       1.899822
min           1.000000      3.000000      1.000000       0.499900
25%         296.000000    787.000000    280.000000       2.563400
50%         435.000000   1166.000000    409.000000       3.534800
75%         647.000000   1725.000000    605.000000       4.743250
max        6445.000000  35682.000000   6082.000000      15.000100

        median_house_value ocean_proximity
count         20640.000000           20640
unique                 NaN               5
top                    NaN       <1H OCEAN
freq                   NaN            9136
mean         206855.816909             NaN
std          115395.615874             NaN
min           14999.000000             NaN
25%          119600.000000             NaN
50%          179700.000000             NaN
75%          264725.000000             NaN
max          500001.000000             NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB
None

## 데이터 전처리

In [3]:
print(df.isnull().sum())

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [4]:
df.dropna(axis=0,inplace=True)

In [5]:
df.drop('ocean_proximity',axis=1, inplace=True)

## 분석 데이터 준비

In [6]:
print(df.corr(method='pearson'))

                    longitude  latitude  housing_median_age  total_rooms  \
longitude            1.000000 -0.924616           -0.109357     0.045480
latitude            -0.924616  1.000000            0.011899    -0.036667
housing_median_age  -0.109357  0.011899            1.000000    -0.360628
total_rooms          0.045480 -0.036667           -0.360628     1.000000
total_bedrooms       0.069608 -0.066983           -0.320451     0.930380
population           0.100270 -0.108997           -0.295787     0.857281
households           0.056513 -0.071774           -0.302768     0.918992
median_income       -0.015550 -0.079626           -0.118278     0.197882
median_house_value  -0.045398 -0.144638            0.106432     0.133294

                    total_bedrooms  population  households  median_income  \
longitude                 0.069608    0.100270    0.056513      -0.015550
latitude                 -0.066983   -0.108997   -0.071774      -0.079626
housing_median_age       -0.320451   -0.295787   -0.302768      -0.118278
total_rooms               0.930380    0.857281    0.918992       0.197882
total_bedrooms            1.000000    0.877747    0.979728      -0.007723
population                0.877747    1.000000    0.907186       0.005087
households                0.979728    0.907186    1.000000       0.013434
median_income            -0.007723    0.005087    0.013434       1.000000
median_house_value        0.049686   -0.025300    0.064894       0.688355

                    median_house_value
longitude                    -0.045398
latitude                     -0.144638
housing_median_age            0.106432
total_rooms                   0.133294
total_bedrooms                0.049686
population                   -0.025300
households                    0.064894
median_income                 0.688355
median_house_value            1.000000

In [7]:
x = df.drop('median_house_value',axis=1)
y = df['median_house_value']

In [8]:
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = 0.3, random_state = 42)

##  분석 진행

In [10]:
rfr = RandomForestRegressor(max_depth = 3, random_state = 42)
rfr.fit(x_train,y_train)
pred = rfr.predict(x_test)

## 모델 평가

In [11]:
print(r2_score(y_test,pred))
print(mean_squared_error(y_test,pred))

0.5163257607399465
6447828605.376922

# 연습하기

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error, accuracy_score, confusion_matrix, classification_report 
from sklearn.ensemble import RandomForestRegressor

df = pd.read_csv("https://raw.githubusercontent.com/YoungjinBD/dataset/main/housing.csv")

df.dropna(axis=0,inplace=True)
df.drop('ocean_proximity',axis=1,inplace=True)

x = df.drop('median_house_value',axis=1)
y = df['median_house_value']

x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = 0.3, random_state =42)

rfr = RandomForestRegressor(random_state = 42, max_depth = 3)
rfr.fit(x_train,y_train)
pred = rfr.predict(x_test)

print(r2_score(y_test,pred))
print(mean_squared_error(y_test,pred))

0.5163257607399465
6447828605.376922