# 데이터 불러오기

In [4]:
import pandas as pd 
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/lol.csv',sep='\t')
print(df)

           gameId   creationTime  gameDuration  seasonId  winner  firstBlood  \
0      3326086514  1504279457970          1949         9       1           2
1      3229566029  1497848803862          1851         9       1           1
2      3327363504  1504360103310          1493         9       1           2
3      3326856598  1504348503996          1758         9       1           1
4      3330080762  1504554410899          2094         9       1           2
...           ...            ...           ...       ...     ...         ...
51485  3308904636  1503076540231          1944         9       2           1
51486  3215685759  1496957179355          3304         9       2           1
51487  3322765040  1504029863961          2156         9       2           2
51488  3256675373  1499562036246          1475         9       2           2
51489  3317333020  1503612754059          1445         9       1           1

       firstTower  firstInhibitor  firstBaron  firstDragon  ...  \
0               1               1           1            1  ...
1               1               1           0            1  ...
2               1               1           1            2  ...
3               1               1           1            1  ...
4               1               1           1            1  ...
...           ...             ...         ...          ...  ...
51485           2               2           0            2  ...
51486           1               2           2            2  ...
51487           2               2           0            1  ...
51488           2               2           0            2  ...
51489           1               1           1            2  ...

       t2_towerKills  t2_inhibitorKills  t2_baronKills  t2_dragonKills  \
0                  5                  0              0               1
1                  2                  0              0               0
2                  2                  0              0               1
3                  0                  0              0               0
4                  3                  0              0               1
...              ...                ...            ...             ...
51485             10                  2              0               4
51486             11                  7              4               4
51487             10                  2              0               2
51488             11                  3              0               1
51489              1                  0              0               1

       t2_riftHeraldKills  t2_ban1  t2_ban2  t2_ban3  t2_ban4  t2_ban5
0                       1      114       67       43       16       51
1                       0       11       67      238       51      420
2                       0      157      238      121       57       28
3                       0      164       18      141       40       51
4                       0       86       11      201      122       18
...                   ...      ...      ...      ...      ...      ...
51485                   0       55       -1       90      238      157
51486                   1      157       55      119      154      105
51487                   0      113      122       53       11      157
51488                   0      154       39       51       90      114
51489                   0       11      157      141       31       18

[51490 rows x 61 columns]

# 데이터의 상위 5개 출력

In [5]:
print(df.head(5))

       gameId   creationTime  gameDuration  seasonId  winner  firstBlood  \
0  3326086514  1504279457970          1949         9       1           2
1  3229566029  1497848803862          1851         9       1           1
2  3327363504  1504360103310          1493         9       1           2
3  3326856598  1504348503996          1758         9       1           1
4  3330080762  1504554410899          2094         9       1           2

   firstTower  firstInhibitor  firstBaron  firstDragon  ...  t2_towerKills  \
0           1               1           1            1  ...              5
1           1               1           0            1  ...              2
2           1               1           1            2  ...              2
3           1               1           1            1  ...              0
4           1               1           1            1  ...              3

   t2_inhibitorKills  t2_baronKills  t2_dragonKills  t2_riftHeraldKills  \
0                  0              0               1                   1
1                  0              0               0                   0
2                  0              0               1                   0
3                  0              0               0                   0
4                  0              0               1                   0

   t2_ban1  t2_ban2  t2_ban3  t2_ban4  t2_ban5
0      114       67       43       16       51
1       11       67      238       51      420
2      157      238      121       57       28
3      164       18      141       40       51
4       86       11      201      122       18

[5 rows x 61 columns]

# 데이터의 행과 열 갯수 파악

In [13]:
print('행 갯수 : ',len(df.columns))
print('열 갯수 : ',len(df))
print('행 갯수 : ',df.shape[1])
print('열 갯수 : ',df.shape[0])

행 갯수 :  61
열 갯수 :  51490
행 갯수 :  61
열 갯수 :  51490

# 전체 컬럼 출력

In [14]:
print(df.columns)

Index(['gameId', 'creationTime', 'gameDuration', 'seasonId', 'winner',
       'firstBlood', 'firstTower', 'firstInhibitor', 'firstBaron',
       'firstDragon', 'firstRiftHerald', 't1_champ1id', 't1_champ1_sum1',
       't1_champ1_sum2', 't1_champ2id', 't1_champ2_sum1', 't1_champ2_sum2',
       't1_champ3id', 't1_champ3_sum1', 't1_champ3_sum2', 't1_champ4id',
       't1_champ4_sum1', 't1_champ4_sum2', 't1_champ5id', 't1_champ5_sum1',
       't1_champ5_sum2', 't1_towerKills', 't1_inhibitorKills', 't1_baronKills',
       't1_dragonKills', 't1_riftHeraldKills', 't1_ban1', 't1_ban2', 't1_ban3',
       't1_ban4', 't1_ban5', 't2_champ1id', 't2_champ1_sum1', 't2_champ1_sum2',
       't2_champ2id', 't2_champ2_sum1', 't2_champ2_sum2', 't2_champ3id',
       't2_champ3_sum1', 't2_champ3_sum2', 't2_champ4id', 't2_champ4_sum1',
       't2_champ4_sum2', 't2_champ5id', 't2_champ5_sum1', 't2_champ5_sum2',
       't2_towerKills', 't2_inhibitorKills', 't2_baronKills', 't2_dragonKills',
       't2_riftHeraldKills', 't2_ban1', 't2_ban2', 't2_ban3', 't2_ban4',
       't2_ban5'],
      dtype='object')

# 6번째 컬럼명 출력

In [15]:
print(df.columns[5])

firstBlood

# 6번째 컬럼의 데이터 타입 확인

In [25]:
print(df.iloc[:,5].dtype)

int64

# 데이터셋의 인덱스 구성

In [26]:
print(df.index)

RangeIndex(start=0, stop=51490, step=1)

# 6번째 컬럼의 3번째 값

In [27]:
print(df.iloc[2,5])

2

# 6번째 컬럼의 3번째 값

In [28]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/Jeju.csv'
df = pd.read_csv(DataUrl,encoding='euc-kr')

# 데이터 마지막 3개행

In [34]:
print(df.iloc[-3:,:])
print(df.tail(3))

         id          일자   시도명 읍면동명         거주인구       근무인구        방문인구  \
9618  32066  2020-04-30   제주시  도두동    28397.481   3144.895   84052.697
9619  32067  2020-04-30  서귀포시  안덕면   348037.846  29106.286  251129.660
9620  32068  2020-04-30   제주시   연동  1010643.372  65673.477  447622.068

           총 유동인구   평균 속도  평균 소요 시간  평균 기온  일강수량  평균 풍속
9618   115595.073  41.053    29.421   20.3   0.0    3.0
9619   628273.792  46.595    49.189   17.6   0.0    3.5
9620  1523938.917  40.863    27.765   14.1   0.0    4.8
         id          일자   시도명 읍면동명         거주인구       근무인구        방문인구  \
9618  32066  2020-04-30   제주시  도두동    28397.481   3144.895   84052.697
9619  32067  2020-04-30  서귀포시  안덕면   348037.846  29106.286  251129.660
9620  32068  2020-04-30   제주시   연동  1010643.372  65673.477  447622.068

           총 유동인구   평균 속도  평균 소요 시간  평균 기온  일강수량  평균 풍속
9618   115595.073  41.053    29.421   20.3   0.0    3.0
9619   628273.792  46.595    49.189   17.6   0.0    3.5
9620  1523938.917  40.863    27.765   14.1   0.0    4.8

# 수치형 변수를 가진 컬럼 출력

In [41]:
print(df.describe().columns)
print(df.select_dtypes(exclude=object).columns)

Index(['id', '거주인구', '근무인구', '방문인구', '총 유동인구', '평균 속도', '평균 소요 시간', '평균 기온',
       '일강수량', '평균 풍속'],
      dtype='object')
Index(['id', '거주인구', '근무인구', '방문인구', '총 유동인구', '평균 속도', '평균 소요 시간', '평균 기온',
       '일강수량', '평균 풍속'],
      dtype='object')

In [ ]:
# 범주형 변수를 가진 컬러