# ìœ íŠœë¸Œ ì¸ê¸°ë™ì˜ìƒ ë°ì´í„°

## ë°ì´í„° ë¡œë“œ

In [1]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv",index_col=0)
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

## ì¸ê¸°ë™ì˜ìƒ ì œì‘íšŸìˆ˜ê°€ ë§ì€ ì±„ë„ ìƒìœ„ 10ê°œëª…ì„ ì¶œë ¥(ë‚ ì§œ ê¸°ì¤€, ì¤‘ë³µ í¬í•¨)

In [2]:
print(df.loc[df.channelId.isin(list(df.groupby('channelId').size().sort_values(ascending=False).keys()[:10]))].channelTitle.unique())

['ì¥ì‚ì­ˆ' 'ì´ëª‡ëª…' 'íŒŒë¿Œë¦¬' 'ì§¤íˆ°' 'ëŸ°ë‹ë§¨ - ìŠ¤ë¸ŒìŠ¤ ê³µì‹ ì±„ë„' 'ì— ëšœë£¨ë§ˆëšœë£¨ : MBC ê³µì‹ ì¢…í•© ì±„ë„' 'SPOTV'
 'ì±„ë„ ì‹­ì˜¤ì•¼' 'ì´ê³¼ì¥' 'BANGTANTV']

## ë…¼ë€ìœ¼ë¡œ ì¸ê¸°ë™ì˜ìƒì´ ëœ ì¼€ì´ìŠ¤ í™•ì¸, dislikes ìˆ˜ê°€ like ìˆ˜ë³´ë‹¤ ë†’ì€ ë™ì˜ìƒì„ ì œì‘í•œ ì±„ë„ì„ ëª¨ë‘ ì¶œë ¥

In [3]:
print(df.loc[df.dislikes > df.likes].channelTitle.unique())

['í•«ë„ê·¸TV' 'ASMR ì• ì •TV' 'í•˜ì–€íŠ¸ë¦¬HayanTree' 'ì–‘íŒ¡ YangPang' 'ì² êµ¬í˜• (CHULTUBE)'
 'ì™œëƒë§¨í•˜ìš°ìŠ¤' '(MUTUBE)ì™€ê¾¸ëŒ€ì¥ë´‰ì¤€' 'ì˜¤ë©”í‚´TV' 'ìœ¡ì§€ë‹´' 'MapleStory_KR'
 'ROAD FIGHTING CHAMPIONSHIP' 'ì‚¬ë‚˜ì´ ê¹€ê¸°í›ˆ' 'ë‚˜í˜¼ìì‚°ë‹¤ STUDIO' 'Gen.G esports']

## ì±„ë„ëª…ì„ í•œë²ˆì´ë¼ë„ ë°”ê¾¼ ì±„ë„ì˜ ê°¯ìˆ˜

In [4]:
change = df[['channelId','channelTitle']].drop_duplicates().channelId.value_counts()
print(len(change[change>1]))

71

## ì¼ìš”ì¼ì— ì¸ê¸°ìˆì—ˆë˜ ì˜ìƒë“¤ ì¤‘ ê°€ì¥ ë§ì€ ì˜ìƒ ì¢…ë¥˜

In [5]:
# df['weekends'] = df['trending_date2'].dt.weekends
df['trending_date2'] = pd.to_datetime(df['trending_date2'])
df['weekday'] = df['trending_date2'].dt.day_name()
print(df.loc[df.weekday=='Sunday'].categoryId.value_counts().index[0])

24

## ê° ìš”ì¼ë³„ ì¸ê¸° ì˜ìƒë“¤ì˜ categoryIDëŠ” ê°ê° ëª‡ê°œ ì”©ì¸ì§€ í•˜ë‚˜ì˜ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œí˜„í•˜ë¼

In [6]:
print(pd.pivot_table(df,index='categoryId',columns='weekday',aggfunc='size'))

weekday     Friday  Monday  Saturday  Sunday  Thursday  Tuesday  Wednesday
categoryId
1              243     263       255     274       246      257        234
2              120     105       119      99       128      119        129
10             833     837       776     830       890      894        917
15             187     215       198     217       207      208        207
17             633     668       592     636       682      708        706
19              90      92        87      91        92       89         85
20             283     298       296     289       282      285        291
22            1288    1373      1289    1337      1341     1375       1333
23             568     594       570     556       560      569        566
24            2976    3148      3066    3096      2954     3084       3090
25             444     453       422     437       470      452        468
26             369     378       364     363       375      394        385
27             183     205       183     199       194      194        212
28             171     160       173     167       166      161        165
29              12      10        10       9        13       11         12

## viewcount ëŒ€ë¹„ ëŒ“ê¸€ ìˆ˜ê°€ ê°€ì¥ ë†’ì€ ì˜ìƒì„ í™•ì¸

In [11]:
quest = df.loc[df.view_count != 0]
quest['feedback'] = quest['comment_count']/quest['view_count'].dropna()

quest.sort_values('feedback',ascending =False).iloc[0]['title']

/tmp/ipykernel_762/1598414501.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  quest['feedback'] = quest['comment_count']/quest['view_count'].dropna()

'60ë¶„ ë™ì•ˆ ëŒ“ê¸€ì´ ë‹¬ë¦¬ì§€ ì•Šìœ¼ë©´, ì˜ìƒì´ ì‚­ì œë©ë‹ˆë‹¤. (ì±Œë¦°ì§€)'

## viewcount ëŒ€ë¹„ ëŒ“ê¸€ ìˆ˜ê°€ ê°€ì¥ ë†’ì€ ì˜ìƒì„ í™•ì¸

In [22]:
quest = df.loc[df.view_count !=0]
quest['feedback'] = (quest.comment_count/quest.view_count)
quest = quest.loc[quest.feedback != 0]
quest.sort_values('feedback').iloc[0]['title']

/tmp/ipykernel_762/2899900271.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  quest['feedback'] = (quest.comment_count/quest.view_count)

'Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts'

## ì¢‹ì•„ìš” ìˆ˜ ëŒ€ë¹„ ì‹«ì•„ìš” ë¹„ìœ¨ì´ ê°€ì¥ ë‚®ì€ ì˜ìƒ í™•ì¸

In [23]:
quest = df.loc[(df.likes != 0) & (df.dislikes != 0)]
quest['ratio']=df.dislikes/df.likes
quest.sort_values('ratio').iloc[0]['title']

/tmp/ipykernel_762/2567045718.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  quest['ratio']=df.dislikes/df.likes

'[ì¤Œí„°ë·°] *ìµœì´ˆê³µê°œ* ì‚¬ë¶€ì‘ì¦ˆğŸ°ğŸ¶ì˜ ë¹„ê³µì‹ ì´ë¦„ì€ ì•„ì´ë¼ì¸ì¦ˆ? ê¿€ì¡°í•© í‹°í‚¤íƒ€ì¹´ ê°€ë“í•œ NCT 127 ë„ì˜&ì •ìš°ì˜ ì¤Œí„°ë·°'

## ê°€ì¥ ë§ì€ íŠ¸ë Œë“œ ì˜ìƒì„ ì œì‘í•œ ì±„ë„ì˜ ì´ë¦„

In [24]:
print(df.loc[df.channelId == df.channelId.value_counts().index[0]].channelTitle.unique()[0])

ì§¤íˆ°

## 20íšŒ ì´ìƒ ì¸ê¸°ë™ì˜ìƒ ë¦¬ìŠ¤íŠ¸ì— í¬í•¨ëœ ë™ì˜ìƒì˜ ìˆ«ì

In [25]:
print((df[['title','channelId']].value_counts() >= 20).sum())

40

# ìœ íŠœë¸Œ ê³µë²”ì»¨í…ì¸  ë™ì˜ìƒ ë°ì´í„°

## ë°ì´í„° ë¡œë“œ

In [26]:
import pandas as pd
channel =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv')
video =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv')

## ê° ë°ì´í„°ì˜ 'ct' ì»¬ëŸ¼ì„ ì‹œê°„ìœ¼ë¡œ ì¸ì‹í•  ìˆ˜ ìˆê²Œ datatypeì„ ë³€ê²½í•˜ê³  video ë°ì´í„°ì˜ videonameì˜ ê° value ë§ˆë‹¤ ëª‡ ê°œì˜ ë°ì´í„°ì”© ê°€ì§€ê³  ìˆëŠ”ì§€ í™•ì¸

In [32]:
channel['ct'] = pd.to_datetime(channel['ct'])
video['ct'] = pd.to_datetime(video['ct'])
print(video['videoname'].value_counts())

videoname
ê³µë²” EP1    3492
ê³µë²” EP2    3204
ê³µë²” EP3    2568
ê³µë²” EP4    2280
ê³µë²” EP5    1562
ê³µë²” EP6    1274
ê³µë²” EP7     555
ê³µë²” EP8     266
Name: count, dtype: int64

## ìˆ˜ì§‘ëœ ê° videì˜ ê°€ì¥ ìµœì‹ í™”ëœ ë‚ ì§œì˜ viewcount ê°’ ì¶œë ¥

In [43]:
print(video[['viewcnt','videoname','ct']].sort_values(['videoname','ct']).drop_duplicates('videoname',keep='last').reset_index(drop=True))

   viewcnt videoname                  ct
0  3180532    ê³µë²” EP1 2021-11-01 15:30:03
1  2199328    ê³µë²” EP2 2021-11-01 15:30:03
2  1671294    ê³µë²” EP3 2021-11-01 15:30:03
3  1818493    ê³µë²” EP4 2021-11-01 15:30:03
4  1503435    ê³µë²” EP5 2021-11-01 15:30:04
5  1750222    ê³µë²” EP6 2021-11-01 15:30:04
6  1630200    ê³µë²” EP7 2021-11-01 15:30:05
7  1289088    ê³µë²” EP8 2021-11-01 15:30:05

## channel ë°ì´í„° ì¤‘ 2021-10-03ì¼ ì´í›„ ê° ì±„ë„ì˜ ì²˜ìŒ ê¸°ë¡ ëë˜ êµ¬ë…ì ìˆ˜ ì¶œë ¥

In [51]:
quest = channel.loc[channel.ct >= '2021-10-03'].sort_values(['channelid','ct']).drop_duplicates('channelid',keep='first')
print(quest[['channelname','subcnt']].reset_index(drop=True))

        channelname   subcnt
0            ë…¼ë¦¬ì™• ì „ê¸°   922000
1             ì•¼ì „ì‚½ì§±ì¬   257000
2           í˜•ì‚¬!íƒì •ë˜ë‹¤    14900
3       ë¦´í„ Lilpearl    10100
4               ì¡°ë‚˜ë‹¨   215000
5        ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶     7520
6     Balming Tiger    54300
7               ê½ˆëšœë£¹  1330000
8   ì™€ê¸€ì™€ê¸€ WagleWagle    55000
9        ì¸„ì •ChuJeong   322000
10    ê³½í† ë¦¬ kwak tori   471000

## ê° ì±„ë„ì˜ 2021-10-03 03:00:00 ~ 2021-11-01 15:00:00 ê¹Œì§€ êµ¬ë…ììˆ˜ì˜ ì¦ê°€ëŸ‰

In [74]:
before = channel.loc[channel.ct >= '2021-10-03 03:00:00'].sort_values(['channelid','ct']).drop_duplicates('channelid',keep='first')
before = before.rename(columns={'subcnt':'before'})
after = channel.loc[channel.ct >= '2021-11-01 15:00:00'].sort_values(['channelid','ct']).drop_duplicates('channelid',keep='last')
after = after.rename(columns={'subcnt':'after'})
after
total = pd.merge(before[['channelid','channelname','before']],after[['channelid','channelname','after']])
total['del'] = total['after'] - total['before']
print(total[['channelname','del']])

        channelname    del
0            ë…¼ë¦¬ì™• ì „ê¸° -11000
1             ì•¼ì „ì‚½ì§±ì¬  11000
2           í˜•ì‚¬!íƒì •ë˜ë‹¤  10300
3       ë¦´í„ Lilpearl  11000
4               ì¡°ë‚˜ë‹¨  12000
5        ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶   1540
6     Balming Tiger   2500
7               ê½ˆëšœë£¹  70000
8   ì™€ê¸€ì™€ê¸€ WagleWagle      0
9        ì¸„ì •ChuJeong   1000
10    ê³½í† ë¦¬ kwak tori  -2000

## ê° ë¹„ë””ì˜¤ëŠ” 10ë¶„ ê°„ê²©ìœ¼ë¡œ êµ¬ë…ì ìˆ˜, ì¢‹ì•„ìš”, ì‹«ì–´ìš” ìˆ˜, ëŒ“ê¸€ ìˆ˜ ê°€ ìˆ˜ì§‘ë¨. ê³µë²” EP1ì˜ ë¹„ë””ì˜¤ ì •ë³´ ë°ì´í„° ì¤‘ ìˆ˜ì§‘ê°„ê²©ì´ 5ë¶„ ì´í•˜, 20ë¶„ ì´ìƒì¸ ë°ì´í„° êµ¬ê°„(í•´ë‹¹ ì‹œì  ì „, í›„)ì˜ ì‹œê°ì„ ëª¨ë‘ ì¶œë ¥

In [117]:
part1 = video.loc[video['videoname'] == ' ê³µë²” EP1'].sort_values('ct')
part1.loc[(part1.ct.diff(1) <= '0 days 00:5:00')|(part1.ct.diff(1) >= '0 days 00:20:00')]
print(part1.loc[[720,721,722,723,1635,1636,1637],:])

          videopk  viewcnt  likecnt  dislikecnt  favoritecnt  cmcnt  \
720   c5JQp6xafqc  2153676    34104         830            0   7120
721   c5JQp6xafqc  2228250    34559         849            0   7191
722   c5JQp6xafqc  2228250    34559         849            0   7191
723   c5JQp6xafqc  2228669    34566         849            0   7194
1635  c5JQp6xafqc  2706691    37893         987            0   7410
1636  c5JQp6xafqc  2707933    37901         988            0   7410
1637  c5JQp6xafqc  2708448    37903         988            0   7410

                      ct videoname
720  2021-10-12 19:20:03    ê³µë²” EP1
721  2021-10-13 09:41:37    ê³µë²” EP1
722  2021-10-13 09:41:37    ê³µë²” EP1
723  2021-10-13 09:50:03    ê³µë²” EP1
1635 2021-10-19 17:50:02    ê³µë²” EP1
1636 2021-10-19 18:20:03    ê³µë²” EP1
1637 2021-10-19 18:30:03    ê³µë²” EP1

## ê° ì—í”¼ì†Œë“œì˜ ì‹œì‘ë‚ ì§œ(ë…„-ì›”-ì¼)ì„ ì—í”¼ì†Œë“œ ì´ë¦„ê³¼ ë¬¶ì–´ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ë§Œë“¤ê³  ì¶œë ¥

In [133]:
video['date'] = video['ct'].dt.date
result = video.sort_values(['videoname','date']).drop_duplicates('videoname',keep='first')
print(result[['videoname','date']])

      videoname        date
10       ê³µë²” EP1  2021-10-07
3496     ê³µë²” EP2  2021-10-09
6696     ê³µë²” EP3  2021-10-14
9264     ê³µë²” EP4  2021-10-16
11544    ê³µë²” EP5  2021-10-21
13661    ê³µë²” EP6  2021-10-23
13106    ê³µë²” EP7  2021-10-28
14935    ê³µë²” EP8  2021-10-30

## video ì •ë³´ì˜ ê°€ì¥ ìµœê·¼ ë°ì´í„°ë“¤ì—ì„œ ê° ì—í”¼ì†Œë“œì˜ ì‹«ì–´ìš”/ì¢‹ì•„ìš” ë¹„ìœ¨ì„ ratio ì»¤ëŸ¼ìœ¼ë¡œ ë§Œë“¤ê³  videoname,ratioë¡œ êµ¬ì„±ëœ ë°ì´í„° í”„ë ˆì„ì„ ratio ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ì •ë ¬

In [142]:
result = video.sort_values(['videoname','ct']).drop_duplicates('videoname',keep='last')
result['ratio'] = result.dislikecnt/result.likecnt
print(result[['videoname','ratio']].sort_values('ratio'))

      videoname     ratio
13660    ê³µë²” EP7  0.013636
14934    ê³µë²” EP6  0.015881
11543    ê³µë²” EP4  0.017971
13105    ê³µë²” EP5  0.021128
9263     ê³µë²” EP3  0.022360
3491     ê³µë²” EP1  0.027118
6695     ê³µë²” EP2  0.029844
15200    ê³µë²” EP8  0.141357

## 2021-11-01 00:00:00 ~ 15:00:00ê¹Œì§€ ê° ì—í”¼ì†Œë“œë³„ viewcntì˜ ì¦ê°€ëŸ‰ì„ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ë§Œë“œì‹œì˜¤

In [153]:
before = video.loc[(video.ct >= '2021-11-01 00:00:00'),['videoname','viewcnt','ct']].sort_values(['videoname','ct']).drop_duplicates('videoname',keep='first')
before = before.rename(columns={'viewcnt':'before'})
after = video.loc[(video.ct <= '2021-11-01 15:00:00'),['videoname','viewcnt','ct']].sort_values(['videoname','ct']).drop_duplicates('videoname',keep='last')
after = after.rename(columns={'viewcnt':'after'})
total = pd.merge(before[['videoname','before']],after[['videoname','after']])
total['viewcnt'] = total['after']-total['before']
print(total[['videoname','viewcnt']])

  videoname  viewcnt
0    ê³µë²” EP1    13298
1    ê³µë²” EP2    10300
2    ê³µë²” EP3     9927
3    ê³µë²” EP4     9824
4    ê³µë²” EP5    10824
5    ê³µë²” EP6    14141
6    ê³µë²” EP7    26949
7    ê³µë²” EP8    89147

## video ë°ì´í„° ì¤‘ì—ì„œ ì¤‘ë³µë˜ëŠ” ë°ì´í„°ì˜ ì‹œê°„ëŒ€ì™€ videoname

In [174]:
answer = video[video.index.isin(set(video.index) - set(video.drop_duplicates().index))]
print(answer[['videoname','ct']])

     videoname                  ct
722     ê³µë²” EP1 2021-10-13 09:41:37
3927    ê³µë²” EP2 2021-10-13 09:41:37

# ì›”ë“œì»µ ì¶œì „ì„ ìˆ˜ ê³¨ê¸°ë¡ ë°ì´í„°

## ë°ì´í„° ë¡œë“œ

In [410]:
import pandas as pd

df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv')
df.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

## ì£¼ì–´ì§„ ì „ì²´ ê¸°ê°„ì˜ ê° ë‚˜ë¼ë³„ ê³¨ë“ì ìˆ˜ ìƒìœ„ 5ê°œ êµ­ê°€ì™€ ê·¸ ë“ì ìˆ˜ ì¶œë ¥

In [411]:
print(df[['Country','Goals']].groupby('Country').sum().sort_values('Goals',ascending=False).head(5))

           Goals
Country
Brazil       228
Germany      226
Argentina    135
Italy        123
France       115

## ê³¨ë“ì ì„ í•œ ì„ ìˆ˜ê°€ ë§ì€ ìƒìœ„ 5ê°œ êµ­ê°€ì™€ ê·¸ ì„ ìˆ˜ ìˆ«ìë¥¼ ë°ì´í„° í”„ë ˆì„ í˜•ì‹ìœ¼ë¡œ ì¶œë ¥

In [412]:
print(df[['Country','Player']].groupby('Country').size().sort_values(ascending=False).head(5))

Country
Brazil       81
Germany      78
Italy        60
Argentina    59
France       58
dtype: int64

## ë…„ë„ í‘œê¸°ê°€ 4ìë¦¬ ìˆ«ìë¡œ ì•ˆëœ ì¼€ì´ìŠ¤ê°€ ëª‡ ê±´ì¸ì§€ ì¶œë ¥

In [413]:
df['Years_list'] = df['Years'].str.split('-')
def check(row):
    answer = False
    for i in row:
        if len(i) != 4:
            answer = True
    return answer
df['Check'] = df['Years_list'].apply(check)
print(len(df.loc[df['Check'] == True]))

45

## ë…„ë„ í‘œê¸°ê°€ 4ìë¦¬ ìˆ«ìë¡œ ë˜ì–´ìˆëŠ” ì¼€ì´ìŠ¤ë§Œ ì¶”ì¶œ

In [414]:
df2 = df.loc[df['Check'] == False]
print(len(df2))

1250

## ì›”ë“œì»µ ì¶œì „íšŸìˆ˜ë¥¼ ë‚˜íƒ€ë‚´ëŠ” 'LenCup' ì»¬ëŸ¼ì„ ì¶”ê°€í•˜ê³  4íšŒ ì¶œì „í•œ ì„ ìˆ˜ì˜ ìˆ«ì ì¶œë ¥

In [415]:
df2['LenCup'] = df.Years_list.map(lambda x : len(x))
print(len(df2.loc[df2.LenCup == 4]))

16

/tmp/ipykernel_762/715742222.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['LenCup'] = df.Years_list.map(lambda x : len(x))

## Yugoslavia êµ­ê°€ì˜ ì›”ë“œì»µ ì¶œì „íšŸìˆ˜ê°€ 2íšŒì¸ ì„ ìˆ˜ë“¤ì˜ ìˆ«ì

In [416]:
print(len(df2[(df2.Country == 'Yugoslavia') & (df2.LenCup == 2)]))

7

## 2002ë…„ë„ì— ì¶œì „í•œ ì „ì²´ ì„ ìˆ˜

In [417]:
print(len(df2.loc[df2.Years.str.contains('2002')]))

156

## ì´ë¦„ì— 'carlos' ë‹¨ì–´ê°€ ë“¤ì–´ê°€ëŠ” ì„ ìˆ˜ì˜ ìˆ«ì

In [418]:
print(len(df2.loc[df.Player.str.lower().str.contains('carlos')]))

13

## ì›”ë“œì»µ ì¶œì „ íšŸìˆ˜ê°€ 1íšŒë¿ì¸ ì„ ìˆ˜ë“¤ ì¤‘ì—ì„œ ê°€ì¥ ë§ì€ ë“ì ì„ ì˜¬ë ¸ë˜ ì„ ìˆ˜

In [419]:
print(df2.loc[df2.LenCup == 1].sort_values('Goals',ascending=False)['Player'].values[0])

Just Fontaine

## ì›”ë“œì»µ ì¶œì „íšŸìˆ˜ê°€ 1íšŒ ë¿ì¸ ì„ ìˆ˜ë“¤ì´ ê°€ì¥ ë§ì€ êµ­ê°€

In [420]:
print(df2.loc[df2.LenCup == 1].groupby('Country').size().sort_values(ascending=False).index[0])

Brazil

# ì„œìš¸ì‹œ ë”°ë¦‰ì´ ì´ìš©ì •ë³´ ë°ì´í„°

## ë°ì´í„° ë¡œë“œ

In [421]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bicycle/seoul_bi.csv')
df.head()

         ëŒ€ì—¬ì¼ì  ëŒ€ì—¬ì‹œê°„  ëŒ€ì—¬ì†Œë²ˆí˜¸ ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ ì„±ë³„ ì—°ë ¹ëŒ€ì½”ë“œ  ì´ìš©ê±´ìˆ˜    ìš´ë™ëŸ‰   íƒ„ì†ŒëŸ‰     ì´ë™ê±°ë¦¬  ì‚¬ìš©ì‹œê°„
0  2021-06-01     0   3541    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1   0.00  0.00     0.00     8
1  2021-06-01     0    765    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1  27.21  0.35  1526.81    19
2  2021-06-01     0   2637    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1  41.40  0.37  1608.56    18
3  2021-06-01     0   2919    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1   0.00  0.00     0.00    75
4  2021-06-01     0    549    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1  13.04  0.17   731.55     6

## ëŒ€ì—¬ì¼ìë³„ ë°ì´í„°ì˜ ìˆ˜ë¥¼ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥í•˜ê³ , ê°€ì¥ ë§ì€ ë°ì´í„°ê°€ ìˆëŠ” ë‚ ì§œ ì¶œë ¥

In [422]:
print(df.groupby('ëŒ€ì—¬ì¼ì').size())
print(df.groupby('ëŒ€ì—¬ì¼ì').size().sort_values(ascending= False).index[0])

ëŒ€ì—¬ì¼ì
2021-06-01    48081
2021-06-02    56100
2021-06-03    18985
2021-06-04    56788
2021-06-05    52730
2021-06-06    47787
2021-06-07    52623
2021-06-08    55623
2021-06-09    54507
2021-06-10    36992
2021-06-11    52089
2021-06-12    48569
2021-06-13    43131
2021-06-14    54945
dtype: int64
2021-06-04

## ê° ì¼ìì˜ ìš”ì¼ì„ í‘œê¸°í•˜ê³  day_name ì¹¼ëŸ¼ì„ ì¶”ê°€í•˜ê³  ì´ë¥¼ ì´ìš©í•˜ì—¬ ê° ìš”ì¼ë³„ ì´ìš© íšŒìˆ«ì˜ ì´í•©ì„ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥

In [423]:
df['ëŒ€ì—¬ì¼ì'] = pd.to_datetime(df['ëŒ€ì—¬ì¼ì'])
df['day_name'] = df['ëŒ€ì—¬ì¼ì'].dt.day_name()
print(df.groupby('day_name').size())

day_name
Friday       108877
Monday       107568
Saturday     101299
Sunday        90918
Thursday      55977
Tuesday      103704
Wednesday    110607
dtype: int64

## ê° ìš”ì¼ë³„ ê°€ì¥ ë§ì´ ì´ìš©í•œ ëŒ€ì—¬ì†Œì˜ ì´ìš©íšŸìˆ˜ì™€ ëŒ€ì—¬ì†Œ ë²ˆí˜¸ë¥¼ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥

In [424]:
df.groupby(['day_name','ëŒ€ì—¬ì†Œë²ˆí˜¸']).size().sort_values(ascending=False).reset_index().drop_duplicates('day_name',keep='first')

      day_name  ëŒ€ì—¬ì†Œë²ˆí˜¸    0
0     Saturday    502  378
1       Sunday    502  372
8    Wednesday    502  282
9       Friday    502  277
10     Tuesday    502  267
19      Monday    502  242
298   Thursday   2715  137

## ë‚˜ì´ëŒ€ë³„ ëŒ€ì—¬êµ¬ë¶„ ì½”ë“œì˜ (ì¼ì¼ê¶Œ/ì „ì²´íšŸìˆ˜) ë¹„ìœ¨ì„ êµ¬í•œ í›„ ê°€ì¥ ë†’ì€ ë¹„ìœ¨ì„ ê°€ì§€ëŠ” ë‚˜ì´ëŒ€ í™•ì¸/ì¼ì¼ê¶Œì˜ ê²½ìš° ì¼ì¼ê¶Œê³¼ ì¼ì¼ê¶Œ(ë¹„íšŒì›)ì„ ëª¨ë‘ í¬í•¨

In [425]:
print((df.loc[df['ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ'].str.contains('ì¼ì¼ê¶Œ')].groupby('ì—°ë ¹ëŒ€ì½”ë“œ').size() /df.groupby('ì—°ë ¹ëŒ€ì½”ë“œ').size()))
print((df.loc[df['ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ'].str.contains('ì¼ì¼ê¶Œ')].groupby('ì—°ë ¹ëŒ€ì½”ë“œ').size() /df.groupby('ì—°ë ¹ëŒ€ì½”ë“œ').size()).sort_values().index[-1])

ì—°ë ¹ëŒ€ì½”ë“œ
20ëŒ€     0.239913
30ëŒ€     0.166702
40ëŒ€     0.110585
50ëŒ€     0.065414
60ëŒ€     0.042462
70ëŒ€~    0.048962
~10ëŒ€    0.312525
dtype: float64
~10ëŒ€

## ì—°ë ¹ëŒ€ë³„ í‰ê·  ì´ë™ê±°ë¦¬

In [426]:
print(df.groupby('ì—°ë ¹ëŒ€ì½”ë“œ').ì´ë™ê±°ë¦¬.mean())

ì—°ë ¹ëŒ€ì½”ë“œ
20ëŒ€     3211.890552
30ëŒ€     3341.443859
40ëŒ€     3514.857416
50ëŒ€     3593.668100
60ëŒ€     3538.145737
70ëŒ€~    3085.039641
~10ëŒ€    2634.426279
Name: ì´ë™ê±°ë¦¬, dtype: float64

## ì—°ë ¹ëŒ€ê°€ 20ëŒ€ì¸ ë°ì´í„°ë¥¼ ì¶”ì¶œí•˜ê³ , ì´ë™ê±°ë¦¬ê°’ì´ ì¶”ì¶œí•œ ë°ì´í„°ì˜ ì´ë™ê±°ë¦¬ê°’ì˜ í‰ê·  ì´ìƒì¸ ë°ì´í„°ë¥¼ ì¶”ì¶œ, ìµœì¢… ì¶”ì¶œëœ ë°ì´í„°ë¥¼ ëŒ€ì—¬ì¼ì, ëŒ€ì—¬ì†Œ ë²ˆí˜¸ ìˆœì„œë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬ í›„ 1í–‰ë¶€í„° 200í–‰ê¹Œì§€ì˜ íƒ„ì†ŒëŸ‰ì˜ í‰ê· ì„ ì†Œìˆ«ì  3ì§¸ ìë¦¬ê¹Œì§€ êµ¬í•˜ê¸°

In [427]:
answer = df.loc[df.ì—°ë ¹ëŒ€ì½”ë“œ == '20ëŒ€'].loc[df.ì´ë™ê±°ë¦¬ >= df.ì´ë™ê±°ë¦¬.mean()].sort_values(['ëŒ€ì—¬ì¼ì','ëŒ€ì—¬ì†Œë²ˆí˜¸'],ascending=False).reset_index(drop=True)[:200]
answer['íƒ„ì†ŒëŸ‰'] = answer['íƒ„ì†ŒëŸ‰'].astype(float)
print(round(answer['íƒ„ì†ŒëŸ‰'].mean(),3))

1.643

## 6ì›” 7ì¼ ~10ì˜ ì´ìš©ê±´ìˆ˜ì˜ ì¤‘ì•™ê°’

In [428]:
df.loc[(df.ëŒ€ì—¬ì¼ì == '2021-06-07')&(df.ì—°ë ¹ëŒ€ì½”ë“œ == '~10ëŒ€')].ì´ìš©ê±´ìˆ˜.median()

1.0

## í‰ì¼ ì¶œê·¼ ì‹œê°„ëŒ€ì˜ ëŒ€ì—¬ì†Œë³„ ì´ìš© íšŸìˆ˜ ì¶”ì¶œ/ ëŒ€ì—¬ì‹œê°„ë³„ ì´ìš©íšŸìˆ˜ì˜ ìƒìœ„ 3ê°œ ëŒ€ì—¬ì†Œì™€ ì´ìš©íšŸìˆ˜

In [429]:
result = df.loc[(~df.day_name.isin(['Saturday','Sunday']))&(df.ëŒ€ì—¬ì‹œê°„.isin([6,7,8]))].groupby(['ëŒ€ì—¬ì‹œê°„','ëŒ€ì—¬ì†Œë²ˆí˜¸']).size().to_frame('ì´ìš© íšŸìˆ˜')
print(result.sort_values(['ëŒ€ì—¬ì‹œê°„','ì´ìš© íšŸìˆ˜'],ascending=False).groupby('ëŒ€ì—¬ì‹œê°„').head(3))

            ì´ìš© íšŸìˆ˜
ëŒ€ì—¬ì‹œê°„ ëŒ€ì—¬ì†Œë²ˆí˜¸
8    2701     119
     646      115
     1152      92
7    259      104
     230       77
     726       77
6    2744      45
     1125      40
     1028      36

## ì´ë™ê±°ë¦¬ í‰ê·  ì´ìƒì˜ ì´ë™ê±°ë¦¬ ê°’ì„ ê°€ì§€ëŠ” ë°ì´í„°ì˜ ì´ë™ê±°ë¦¬ í‘œë³¸í‘œì¤€í¸ì°¨

In [430]:
import numpy as np
print(df.loc[df.ì´ë™ê±°ë¦¬ >= df.ì´ë™ê±°ë¦¬.mean()].ì´ë™ê±°ë¦¬.std())

5092.139707505356

## ë‚¨ì„±ì™€ ì—¬ì„±ì˜ ì´ë™ê±°ë¦¬ê°’ì˜ í‰ê· ê°’

In [432]:
def sex(row):
    if row == 'F' or row == 'f':
        answer = 'ì—¬ì„±'
    else:
        answer = 'ë‚¨ì„±'
    return answer
df['sex'] = df['ì„±ë³„'].apply(sex)
df
df.groupby('sex').ì´ë™ê±°ë¦¬.mean()

sex
ë‚¨ì„±    3209.110871
ì—¬ì„±    3468.575025
Name: ì´ë™ê±°ë¦¬, dtype: float64

# ì „ì„¸ê³„ í–‰ë³µë„ ì§€í‘œ ë°ì´í„°

## ë°ì´í„° ë¡œë“œ

In [433]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv',encoding='utf-8')
df.head()

,í–‰ë³µë­í‚¹,ë‚˜ë¼ëª…,ì ìˆ˜,ìƒëŒ€GDP,ì‚¬íšŒì ì§€ì›,í–‰ë³µê¸°ëŒ€ì¹˜,ì„ íƒì˜ ììœ ë„,ê´€ëŒ€í•¨,ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹,ë…„ë„
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

## ë°ì´í„°ëŠ” 2018ë…„ë„ì™€ 2019ë…„ë„ì˜ ì „ì„¸ê³„ í–‰ë³µ ì§€ìˆ˜ë¥¼ í‘œí˜„í•˜ê³ , ê° ë…„ë„ì˜ í–‰ë³µë­í‚¹ 50ìœ„ ì´ë‚´ì˜ ë‚˜ë¼ë“¤ì˜ ê°ê°ì˜ í–‰ë³µ ì ìˆ˜ í‰ê· ì„ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œì‹œ

In [446]:
answer = df.loc[(df.ë…„ë„ == 2018)|(df.ë…„ë„ == 2019)].sort_values(['ë…„ë„','ì ìˆ˜'],ascending=False).groupby('ë…„ë„').head(50)
print(answer.groupby('ë…„ë„').ì ìˆ˜.mean().to_frame())

           ì ìˆ˜
ë…„ë„
2018  6.64678
2019  6.67002

## 2018ë…„ë„ ë°ì´í„°ë“¤ë§Œ ì¶”ì¶œí•˜ì—¬ í–‰ë³µì ìˆ˜ì™€ ë¶€íŒ¨ì— ëŒ€í•œ ì¸ì‹ì— ëŒ€í•œ ìƒê´€ê³„ìˆ˜ë¥¼ êµ¬í•˜ê¸°

In [457]:
print(df.loc[df.ë…„ë„ == 2018][['ì ìˆ˜','ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹']].corr().iloc[0,1])

0.40529152271510027

## 2018ë…„ë„ì™€ 2019ë…„ë„ì˜ í–‰ë³µë­í‚¹ì´ ë³€í™”í•˜ì§€ ì•Šì€ ë‚˜ë¼ëª…ì˜ ìˆ˜

In [484]:
df2018 = df.loc[df.ë…„ë„ == 2018]
df2018 = df2018.rename(columns={'ë…„ë„':'2018','í–‰ë³µë­í‚¹':'2018 ì ìˆ˜'})
df2019 = df.loc[df.ë…„ë„ == 2019]
df2019 = df2019.rename(columns={'ë…„ë„':'2019','í–‰ë³µë­í‚¹':'2019 ì ìˆ˜'})
df2019 =df2019[['ë‚˜ë¼ëª…','2019 ì ìˆ˜']]
df2018 = df2018[['ë‚˜ë¼ëª…','2018 ì ìˆ˜']]
total = pd.merge(df2018,df2019)
total['diff'] = total['2019 ì ìˆ˜'] - total['2018 ì ìˆ˜']
# total.loc[total.diff == 0]
print(len(total.loc[total['diff']==0]))

15

## 2019ë…„ë„ ë°ì´í„°ë“¤ë§Œ ì¶”ì¶œí•˜ì—¬ ê° ë³€ìˆ˜ê°„ ìƒê´€ê³„ìˆ˜ë¥¼ êµ¬í•˜ê³  ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•œ í›„ ìƒìœ„ 5ê°œë¥¼ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥, ì»¬ë ´ëª… v1, v2, corr í‘œì‹œ

In [501]:
df2019 = df.loc[df.ë…„ë„ == 2019]
result = df2019[['ìƒëŒ€GDP','ì‚¬íšŒì ì§€ì›','í–‰ë³µê¸°ëŒ€ì¹˜','ì„ íƒì˜ ììœ ë„','ê´€ëŒ€í•¨','ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹']].corr().unstack().reset_index().drop_duplicates()
result = result.rename(columns={'level_0':'v1','level_1':'v2',0:'corr'})
print(result.loc[result['corr'] != 1].sort_values('corr',ascending=False).reset_index(drop=True).head(5))

      v1     v2      corr
0  ìƒëŒ€GDP  í–‰ë³µê¸°ëŒ€ì¹˜  0.835462
1  í–‰ë³µê¸°ëŒ€ì¹˜  ìƒëŒ€GDP  0.835462
2  ìƒëŒ€GDP  ì‚¬íšŒì ì§€ì›  0.754906
3  ì‚¬íšŒì ì§€ì›  ìƒëŒ€GDP  0.754906
4  ì‚¬íšŒì ì§€ì›  í–‰ë³µê¸°ëŒ€ì¹˜  0.719009

## ê° ë…„ë„ë³„ í•˜ìœ„ í–‰ë³µì ìˆ˜ì˜ í•˜ìœ„ 5ê°œ êµ­ê°€ì˜ í‰ê·  í–‰ë³µì ìˆ˜

In [511]:
result = df.sort_values(['ë…„ë„','ì ìˆ˜']).groupby('ë…„ë„').head(5)
print(result.groupby('ë…„ë„').ì ìˆ˜.mean())

ë…„ë„
2018    3.1800
2019    3.1408
Name: ì ìˆ˜, dtype: float64

## ê° ë…„ë„ì˜ ë¶€íŒ¨ì— ëŒ€í•œ ì¸ì‹ì„ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬í–ˆì„ ë•Œ ìƒìœ„ 20ê°œ êµ­ê°€ì˜ ë¶€íŒ¨ì— ëŒ€í•œ ì¸ì‹ì˜ í‰ê·

In [515]:
result = df.sort_values(['ë…„ë„','ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹'],ascending=False).groupby('ë…„ë„').head(20)
print(result.groupby('ë…„ë„')['ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹'].mean())

ë…„ë„
2018    0.3267
2019    0.3201
Name: ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹, dtype: float64

## 2018ë…„ë„ í–‰ë³µë­í‚¹ 50ìœ„ ì´ë‚´ì— í¬í•¨ëë‹¤ê°€ 2019ë…„ 50ìœ„ ë°–ìœ¼ë¡œ ë°€ë ¤ë‚œ êµ­ê°€ì˜ ìˆ«ì

In [519]:
df2018 = df.loc[(df.í–‰ë³µë­í‚¹ <= 50)&(df.ë…„ë„ == 2018)]
df2019 = df.loc[(df.í–‰ë³µë­í‚¹ >= 50)&(df.ë…„ë„ == 2019)]
total = pd.merge(df2018['ë‚˜ë¼ëª…'],df2019['ë‚˜ë¼ëª…'])
print(len(total))

4

## 2018ë…„, 2019ë…„ ëª¨ë‘ ê¸°ë¡ì´ ìˆëŠ” ë‚˜ë¼ë“¤ ì¤‘ ë…„ë„ë³„ í–‰ë³µì ìˆ˜ê°€ ê°€ì¥ ì¦ê°€í•œ ë‚˜ë¼ì™€ ê·¸ ì¦ê°€ ìˆ˜ì¹˜

In [529]:
df2018 = df.loc[df.ë…„ë„ == 2018]
df2019 = df.loc[df.ë…„ë„ == 2019]
df2018 = df2018[['ë‚˜ë¼ëª…','ì ìˆ˜']]
df2018 = df2018.rename(columns={'ì ìˆ˜':'2018ì ìˆ˜'})
df2019 = df2019[['ë‚˜ë¼ëª…','ì ìˆ˜']]
df2019 = df2019.rename(columns={'ì ìˆ˜':'2019ì ìˆ˜'})
total = pd.merge(df2018,df2019)
total['diff'] = total['2019ì ìˆ˜'] - total['2018ì ìˆ˜']
total.sort_values('diff',ascending=False).head(1)

         ë‚˜ë¼ëª…  2018ì ìˆ˜  2019ì ìˆ˜  diff
151  Burundi   2.905   3.775  0.87

# ì§€ì—­êµ¬ ì—ë„ˆì§€ ì†Œë¹„ëŸ‰ ë°ì´í„°

## ë°ì´í„° ë¡œë“œ

In [530]:
import pandas as pd
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/consum/Tetuan%20City%20power%20consumption.csv')
df.head()

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,1/1/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,1/1/2017 0:20,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,1/1/2017 0:30,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,1/1/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964

## dataframe ì»¬ëŸ¼ì„ í†µí•´ ê° ì›”ë³„ë¡œ ëª‡ê°œì˜ ë°ì´í„°ê°€ ìˆëŠ”ì§€ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥

In [536]:
df['month'] = pd.to_datetime(df.DateTime).dt.month
print(df.groupby('month').size())

month
1     4464
2     4032
3     4464
4     4320
5     4464
6     4320
7     4464
8     4464
9     4320
10    4464
11    4320
12    4320
dtype: int64

## 3ì›”ë‹¬ì˜ ê° ì‹œê°„ëŒ€ë³„ ì˜¨ë„ í‰ê· ë“¤ ì¤‘ ê°€ì¥ ë‚®ì€ ì‹œê°„ëŒ€ì˜ ì˜¨ë„ ì¶œë ¥

In [549]:
df['hour'] = pd.to_datetime(df.DateTime).dt.hour
print(df.loc[df.month == 3].groupby('hour').Temperature.mean().sort_values().head(1))

hour
7    11.506613
Name: Temperature, dtype: float64

## 3ì›”ë‹¬ì˜ ê° ì‹œê°„ëŒ€ë³„ ì˜¨ë„ì˜ í‰ê· ë“¤ ì¤‘ ê°€ì¥ ë†’ì€ ì‹œê°„ëŒ€ì˜ ì˜¨ë„ ì¶œë ¥

In [551]:
df['hour'] = pd.to_datetime(df.DateTime).dt.hour
print(df.loc[df.month == 3].groupby('hour').Temperature.mean().sort_values(ascending=False).head(1))

hour
15    18.393602
Name: Temperature, dtype: float64

## Zone 1 Power Consumption ì»¬ëŸ¼ì˜ value ê°’ì˜ í¬ê¸°ê°€ Zone 2 Power Consumption ì»¬ëŸ¼ì˜ valueê°’ì˜ í¬ê¸°ë³´ë‹¤ í° ë°ì´í„°ë“¤ì˜ Humidityì˜ í‰ê·

In [563]:
df['diff'] = df['Zone 1 Power Consumption'] - df['Zone 2  Power Consumption']
print(df.loc[df['diff'] > 0].Humidity.mean())

68.23624448055052

## ê° zoneì˜ ì—ë„ˆì§€ ì†Œë¹„ëŸ‰ì˜ ìƒê´€ê´€ê³„ë¥¼ êµ¬í•´ì„œ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œê¸°

In [570]:
df[['Zone 1 Power Consumption','Zone 2  Power Consumption','Zone 3  Power Consumption']].corr()

,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
Zone 1 Power Consumption,1.000000,0.834519,0.750733
Zone 2 Power Consumption,0.834519,1.000000,0.570932
Zone 3 Power Consumption,0.750733,0.570932,1.000000

## Temperatureì˜ ê°’ì´ 10ë¯¸ë§Œì˜ ê²½ìš° A, 10ì´ìƒ 20ë¯¸ë§Œì˜ ê²½ìš° B, 20 ì´ìƒ 30 ë¯¸ë§Œì˜ ê²½ìš° C, ê·¸ ì™¸ì˜ ê²½ìš° Dë¼ê³  í•  ë•Œ ê° ë‹¨ê³„ì˜ ë°ì´í„° ìˆ«ì

In [575]:
def temperature(row):
    if row < 10:
        answer = "A"
    elif row >= 10 and row < 20:
        answer = 'B'
    elif row >= 20 and row < 30:
        answer = 'C'
    else:
        answer = 'D'
    return answer
df['grade'] = df['Temperature'].apply(temperature)
print(df.groupby('grade').size())

grade
A     2874
B    26993
C    21105
D     1444
dtype: int64

## 6ì›” ë°ì´í„° ì¤‘ 12ì‹œì˜ Temperatureì˜ í‘œì¤€í¸ì°¨

In [578]:
df.loc[(df['month'] == 6)&(df['hour'] == 12)].Temperature.std()

2.0499417827951025

## 6ì›” ë°ì´í„° ì¤‘ 12ì‹œì˜ Temperatureì˜ ë¶„ì‚°

In [580]:
print(df.loc[(df['month'] == 6)&(df['hour'] == 12)].Temperature.var())

4.202261312849163

## Temperatureì˜ í‰ê·  ì´ìƒì˜ Temperatureì˜ ê°’ì„ ê°€ì§€ëŠ” ë°ì´í„°ë¥¼ Temperatureë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì •ë ¬ í–ˆì„ ë•Œ 4ë²ˆì§¸ í–‰ì˜ Humidity

In [587]:
print(df.loc[df['Temperature']>= df['Temperature'].mean()].sort_values('Temperature').reset_index(drop=True).loc[3,'Humidity'])

87.9

## Temperatureì˜ ì¤‘ê°„ê°’ ì´ìƒì˜ Temperatureì˜ ê°’ì„ ê°€ì§€ëŠ” ë°ì´í„°ë¥¼ Temperatureë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì •ë ¬í–ˆì„ ë•Œ 4ë²ˆì§¸ í–‰ì˜ Humidity

In [589]:
print(df.loc[df['Temperature']>= df['Temperature'].median()].sort_values('Temperature').reset_index(drop=True).loc[3,'Humidity'])

80.3

# í¬ì¼“ëª¬ ì •ë³´ ë°ì´í„°

## ë°ì´í„° ë¡œë“œ

In [590]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

## ì „ì„¤í¬ì¼“ëª¬ê³¼ ê·¸ë ‡ì§€ ì•Šì€ í¬ì¼“ëª¬ë“¤ì˜ HP í‰ê·  ì°¨ì´

In [594]:
print(df.loc[df.Legendary == True].HP.mean() - df.loc[df.Legendary == False].HP.mean())

25.55614861329147

## ê°€ì¥ ë§ì€ ë¶€ì†ì„± ì¢…ë¥˜

In [612]:
print(df['Type 2'].value_counts().index[0])

Flying

## ê°€ì¥ ë§ì€ Type 1ì˜ ì¢…ì˜ í‰ê·  Attackì„ í‰ê·  Defenseë¡œ ë‚˜ëˆˆ ê°’

In [618]:
print(df.loc[df['Type 1'] == df['Type 1'].value_counts().index[0]].Attack.mean()/df.loc[df['Type 1'] == df['Type 1'].value_counts().index[0]].Defense.mean())

1.0165238678090576

## í¬ì¼“ëª¬ ì„¸ëŒ€ ì¤‘ ê°€ì¥ ë§ì€ Legendaryë¥¼ ë³´ìœ í•œ ì„¸ëŒ€

In [622]:
print(df.loc[df.Legendary == True].Generation.value_counts().index[0])

3

## Hp, Attack, Defense, Sp.Atk, Sp.Def, Speed ê°„ì˜ ìƒê´€ê³„ìˆ˜ ì¤‘ ê°€ì¥ ì ˆëŒ“ê°’ì´ í° ë‘ ë³€ìˆ˜ì™€ ê·¸ ê°’

In [641]:
result = df[['HP','Attack','Defense','Sp. Atk','Sp. Def','Speed']].corr().unstack().reset_index().drop_duplicates()
result[0] = abs(result[0])
print(result.loc[result[0 ]!= 1].sort_values(0,ascending=False).iloc[0])

level_0     Sp. Def
level_1     Defense
0          0.510747
Name: 26, dtype: object

## ê° Generationì˜ Attackìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬ ì‹œ ìƒìœ„ 3ê°œ ë°ì´í„°ë“¤(18ê°œ)ì˜ Attackì˜ ì „ì²´ í‰ê·

In [648]:
result = df.sort_values(['Generation','Attack'])
print(result.groupby('Generation').Attack.head(3).mean())

19.5

## ê° Geneartionì˜ Attackìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬ ì‹œ ìƒìœ„ 5ê°œ ë°ì´í„°ë“¤(30ê°œ)ì˜ Attackì˜ ì „ì²´ í‰ê·

In [649]:
result = df.sort_values(['Generation','Attack'],ascending=False)
print(result.groupby('Generation').Attack.head(5).mean())

157.23333333333332

## ê°€ì¥ í”íˆ ë°œê²¬ë˜ëŠ” (Type1,Type2)ì˜ ìŒ

In [657]:
print(df[['Type 1','Type 2']].value_counts().head(1))

Type 1  Type 2
Normal  Flying    24
Name: count, dtype: int64

## í•œë²ˆì”©ë§Œ ì¡´ì¬í•˜ëŠ” (Type1,Type2)ì˜ ìŒì„ ê° ì„¸ëŒ€ë³„ë¡œ ê°€ì§€ê³  ìˆëŠ” ê°¯ìˆ˜

In [736]:
result = df[['Type 1','Type 2']].value_counts()
result = result[result==1]
result_list = list(result.index)
result = result.reset_index()
def generation(row):
    type1 = row['Type 1']
    type2 = row['Type 2']
    answer = df.loc[(df['Type 1'] == type1)&(df['Type 2'] == type2),'Generation'].values[0]
    return answer
result['generation'] = result.apply(generation,axis=1)
print(result.generation.value_counts())

generation
4    13
6     9
5     7
3     5
2     4
1     1
Name: count, dtype: int64

# ëŒ€í•œë¯¼êµ­ ì²´ë ¥ì¥ ë°ì´í„°

## ë°ì´í„° ë¡œë“œ

In [737]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/body/body.csv')
df.head()

,ì¸¡ì •ë‚˜ì´,ì¸¡ì •íšŒì›ì„±ë³„,ì‹ ì¥ : cm,ì²´ì¤‘ : kg,ì²´ì§€ë°©ìœ¨ : %,ì´ì™„ê¸°í˜ˆì••(ìµœì €) : mmHg,ìˆ˜ì¶•ê¸°í˜ˆì••(ìµœê³ ) : mmHg,ì•…ë ¥D : kg,ì•‰ì•„ìœ—ëª¸ì•ìœ¼ë¡œêµ½íˆê¸° : cm,êµì°¨ìœ—ëª¸ì¼ìœ¼í‚¤ê¸° : íšŒ,ì œìë¦¬ ë©€ë¦¬ë›°ê¸° : cm,ë“±ê¸‰
0,59.0,M,175.0,70.6,19.2,91.0,150.0,40.6,12.2,30.0,179.0,C
1,40.0,F,161.4,45.8,21.7,62.0,119.0,22.1,16.0,32.0,165.0,B
2,27.0,M,176.6,84.8,19.2,87.0,153.0,45.9,13.2,61.0,216.0,B
3,38.0,M,167.6,76.7,24.7,63.0,132.0,43.6,16.0,45.0,231.0,A
4,21.0,M,165.2,66.2,21.5,83.0,106.0,33.5,10.6,46.0,198.0,C

## ì „ì²´ ë°ì´í„°ì˜ ìˆ˜ì¶•ê¸°í˜ˆì••(ìµœê³ ) - ì´ì™„ê¸°í˜ˆì••(ìµœì €)ì˜ í‰ê·

In [742]:
print((df['ìˆ˜ì¶•ê¸°í˜ˆì••(ìµœê³ ) : mmHg'] - df['ì´ì™„ê¸°í˜ˆì••(ìµœì €) : mmHg']).mean())

52.19539414750672

## 50-59ì„¸ì˜ ì‹ ì¥ í‰ê·

In [745]:
print(df.loc[(df['ì¸¡ì •ë‚˜ì´'] < 60) & (df['ì¸¡ì •ë‚˜ì´'] >= 50)]['ì‹ ì¥ : cm'].mean())

164.07490107405314

## ì—°ë ¹ëŒ€ (20-29: 20ëŒ€...)ë³„ ì¸ì›ìˆ˜

In [748]:
df['ì—°ë ¹ëŒ€'] = df['ì¸¡ì •ë‚˜ì´'].map(lambda x : int(x//10)*10)
df['ì—°ë ¹ëŒ€'].value_counts()

ì—°ë ¹ëŒ€
20    5831
30    2660
40    1801
50    1769
60    1335
Name: count, dtype: int64

## ì—°ë ¹ëŒ€(20-20: 20ëŒ€...)ë³„ ë“±ê¸‰ì˜ ìˆ«ìë¥¼ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œí˜„

In [752]:
print(df.groupby(['ì—°ë ¹ëŒ€','ë“±ê¸‰']).size().reset_index())

    ì—°ë ¹ëŒ€ ë“±ê¸‰     0
0    20  A  1585
1    20  B  1443
2    20  C  1455
3    20  D  1348
4    30  A   743
5    30  B   697
6    30  C   626
7    30  D   594
8    40  A   386
9    40  B   428
10   40  C   455
11   40  D   532
12   50  A   321
13   50  B   410
14   50  C   474
15   50  D   564
16   60  A   314
17   60  B   371
18   60  C   339
19   60  D   311

## ë‚¨ì„± ì¤‘ A ë“±ê¸‰ê³¼ D ë“±ê¸‰ì˜ ì²´ì§€ë°©ë¥  í‰ê· ì˜ ì°¨ì´

In [761]:
print(df.loc[(df.ì¸¡ì •íšŒì›ì„±ë³„ =='M')&(df.ë“±ê¸‰ =='D')]['ì²´ì§€ë°©ìœ¨ : %'].mean() - df.loc[(df.ì¸¡ì •íšŒì›ì„±ë³„ =='M')&(df.ë“±ê¸‰ =='A')]['ì²´ì§€ë°©ìœ¨ : %'].mean())

7.932086486137521

## ì—¬ì„± ì¤‘ A ë“±ê¸‰ê³¼ D ë“±ê¸‰ì˜ ì²´ì¤‘ì˜ í‰ê· ì˜ ì°¨ì´

In [764]:
print(df.loc[(df.ì¸¡ì •íšŒì›ì„±ë³„ =='F')&(df.ë“±ê¸‰ =='D')]['ì²´ì¤‘ : kg'].mean() - df.loc[(df.ì¸¡ì •íšŒì›ì„±ë³„ =='F')&(df.ë“±ê¸‰ =='A')]['ì²´ì¤‘ : kg'].mean())

5.176211590296504

## ë‚¨ì„±ì˜ BMI í‰ê·

In [768]:
df['BMI'] = df['ì²´ì¤‘ : kg']/(df['ì‹ ì¥ : cm']/100)**2
print(df.loc[df['ì¸¡ì •íšŒì›ì„±ë³„'] == 'M'].BMI.mean())

24.46134409819308

## BMI ë³´ë‹¤ ì²´ì§€ë°©ìœ¨ì´ ë†’ì€ ì‚¬ëŒë“¤ì˜ ì²´ì¤‘ í‰ê·

In [771]:
print(df.loc[df['ì²´ì§€ë°©ìœ¨ : %'] > df['BMI']]['ì²´ì¤‘ : kg'].mean())

61.7408806392542

## ë‚¨ì„±ê³¼ ì—¬ì„±ì˜ ì•…ë ¥ í‰ê· ì˜ ì°¨ì´

In [774]:
print(df.loc[df['ì¸¡ì •íšŒì›ì„±ë³„']=='M']['ì•…ë ¥D : kg'].mean() - df.loc[df['ì¸¡ì •íšŒì›ì„±ë³„']=='F']['ì•…ë ¥D : kg'].mean())

17.55954185047464

## ë‚¨ì„±ê³¼ ì—¬ì„±ì˜ êµì°¨ìœ—ëª¸ì¼ìœ¼í‚¤ê¸° íšŸìˆ˜ì˜ í‰ê·  ì°¨ì´

In [776]:
print(df.loc[df['ì¸¡ì •íšŒì›ì„±ë³„']=='M']['êµì°¨ìœ—ëª¸ì¼ìœ¼í‚¤ê¸° : íšŒ'].mean() - df.loc[df['ì¸¡ì •íšŒì›ì„±ë³„']=='F']['êµì°¨ìœ—ëª¸ì¼ìœ¼í‚¤ê¸° : íšŒ'].mean())

14.243156833157627

# ê¸°ì˜¨ ê°•ìˆ˜ëŸ‰ ë°ì´í„°

## ë°ì´í„° ë¡œë“œ

In [777]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/weather/weather2.csv")
df.head()

                  time  ì´í™”ë™ê°•ìˆ˜  ì´í™”ë™ê¸°ì˜¨  ìˆ˜ì˜ë™ê°•ìˆ˜  ìˆ˜ì˜ë™ê¸°ì˜¨
0  2020-01-01 00:00:00    0.1   -3.9    0.0    2.5
1  2020-01-01 01:00:00    0.0   -3.1    0.0    3.4
2  2020-01-01 02:00:00    0.0   -1.8    0.0    3.8
3  2020-01-01 03:00:00    0.0   -0.8    0.0    4.6
4  2020-01-01 04:00:00    0.0   -0.1    0.0    5.1

## ì—¬ë¦„ì² (6ì›”, 7ì›”, 8ì›”) ì´í™”ë™ì´ ìˆ˜ì˜ë™ë³´ë‹¤ ë†’ì€ ê¸°ì˜¨ì„ ê°€ì§„ ì‹œê°„ëŒ€

In [788]:
df['time'] = pd.to_datetime(df['time'])
df['month'] = df['time'].dt.month
df['hour'] = df['time'].dt.hour
print(len(df.loc[((df.month == 6)|(df.month == 7)|(df.month == 8))&(df.ìˆ˜ì˜ë™ê¸°ì˜¨<df.ì´í™”ë™ê¸°ì˜¨)]))

1415

## ì´í™”ë™ê³¼ ìˆ˜ì˜ë™ì˜ ìµœëŒ€ê°•ìˆ˜ëŸ‰ì˜ ì‹œê°„ëŒ€

In [803]:
[df.sort_values('ì´í™”ë™ê°•ìˆ˜',ascending=False).time.head(1)],[df.sort_values('ìˆ˜ì˜ë™ê°•ìˆ˜',ascending=False).time.head(1)]

([6561   2020-09-30 09:00:00
  Name: time, dtype: datetime64[ns]],
 [4908   2020-07-23 12:00:00
  Name: time, dtype: datetime64[ns]])

# ì„œë¹„ìŠ¤ ì´íƒˆì˜ˆì¸¡ ë°ì´í„°

## ë°ì´í„° ë¡œë“œ

In [804]:
import pandas as pd
#ë°ì´í„° ë¡œë“œ
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/churn/train.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,6842,15793491,Cherkasova,714,Germany,Male,26,3,119545.48,2,1,0,65482.94,0
1,8963,15607874,Keane,687,France,Male,38,0,144450.58,1,0,1,137276.83,0
2,7047,15737627,Rivero,589,Germany,Female,20,2,121093.29,2,1,0,3529.72,0
3,7503,15697844,Whitehouse,721,Spain,Female,32,10,0.00,1,1,0,136119.96,1
4,3439,15722404,Carpenter,445,France,Female,30,3,0.00,2,1,1,127939.19,0

## ë‚¨ì„± ì´íƒˆì´ ê°€ì¥ ë§ì€ êµ­ê°€ ë° ì´íƒˆ ì¸ì›

In [811]:
print(df.loc[(df.Gender=='Male')&(df.Exited==1)].Geography.value_counts().head(1))

Geography
Germany    287
Name: count, dtype: int64

## ì¹´ë“œë¥¼ ì†Œìœ (HasCrCard==1)í•˜ê³  ìˆìœ¼ë©´ì„œ í™œì„±ë©¤ë²„(IsActiveMember==1)ì¸ ê³ ê°ë“¤ì˜ í‰ê·  ë‚˜ì´(ì†Œìˆ«ì  4ìë¦¬)

In [814]:
print(round(df.loc[(df.HasCrCard==1)&(df.IsActiveMember==1)].Age.mean(),4))

39.6102

## Balance ê°’ì´ ì¤‘ê°„ê°’ ì´ìƒì„ ê°€ì§€ëŠ” ê³ ê°ë“¤ì˜ CreditScoreì˜ í‘œì¤€í¸ì°¨(ì†Œìˆ«ì  3ìë¦¬

In [816]:
print(round(df.loc[df.Balance>= df.Balance.median()].CreditScore.std(),3))

97.295

# ì„±ì¸ ê±´ê°•ê²€ì§„ ë°ì´í„°

## ë°ì´í„° ë¡œë“œ

In [817]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/train.csv")
df.head()

,ì„±ë³„ì½”ë“œ,ì—°ë ¹ëŒ€ì½”ë“œ(5ì„¸ë‹¨ìœ„),ì‹ ì¥(5Cmë‹¨ìœ„),ì²´ì¤‘(5Kgë‹¨ìœ„),í—ˆë¦¬ë‘˜ë ˆ,ì‹œë ¥(ì¢Œ),ì‹œë ¥(ìš°),ì²­ë ¥(ì¢Œ),ì²­ë ¥(ìš°),ìˆ˜ì¶•ê¸°í˜ˆì••,...,í˜ˆìƒ‰ì†Œ,ìš”ë‹¨ë°±,í˜ˆì²­í¬ë ˆì•„í‹°ë‹Œ,(í˜ˆì²­ì§€ì˜¤í‹°)AST,(í˜ˆì²­ì§€ì˜¤í‹°)ALT,ê°ë§ˆì§€í‹°í”¼,í¡ì—°ìƒíƒœ,êµ¬ê°•ê²€ì§„ìˆ˜ê²€ì—¬ë¶€,ì¹˜ì•„ìš°ì‹ì¦ìœ ë¬´,ì¹˜ì„
0,F,55,145,55,73.0,0.7,0.5,1.0,1.0,129.0,...,12.9,1.0,0.9,172.0,209.0,15.0,0,Y,0.0,Y
1,M,40,180,55,74.0,1.5,1.5,1.0,1.0,102.0,...,15.6,1.0,0.8,30.0,19.0,23.0,1,Y,0.0,Y
2,F,55,150,50,72.0,1.0,0.2,1.0,1.0,116.0,...,14.1,1.0,1.0,31.0,19.0,10.0,0,Y,0.0,N
3,M,40,170,85,89.0,1.0,0.8,1.0,1.0,124.0,...,16.7,1.0,1.0,26.0,38.0,108.0,1,Y,1.0,Y
4,F,40,155,45,62.0,0.5,1.0,1.0,1.0,127.0,...,12.9,1.0,0.7,20.0,11.0,13.0,0,Y,0.0,N

## ì—°ë ¹ëŒ€ ì½”ë“œë³„ ê° ê·¸ë£¹ ì¤‘ 'í˜ˆì••ì°¨'ì˜ ë¶„ì‚°ì´ 5ë²ˆì§¸ë¡œ í° ì—°ë ¹ëŒ€ ì½”ë“œ

In [824]:
df['í˜ˆì••ì°¨'] = df['ìˆ˜ì¶•ê¸°í˜ˆì••'] - df['ì´ì™„ê¸°í˜ˆì••']
print(df.groupby('ì—°ë ¹ëŒ€ì½”ë“œ(5ì„¸ë‹¨ìœ„)').í˜ˆì••ì°¨.std().sort_values(ascending=False).index[4])

60

## WHtR ì§€í‘œìƒ ë¹„ë§Œì¸ ì¸ì›ì˜ ë‚¨/ì—¬ ë¹„ìœ¨

In [827]:
df['WHtR'] = df['í—ˆë¦¬ë‘˜ë ˆ']/df['ì‹ ì¥(5Cmë‹¨ìœ„)']
print(len(df.loc[(df.WHtR >= 0.58)&(df.ì„±ë³„ì½”ë“œ =='M')])/len(df.loc[(df.WHtR >= 0.58)&(df.ì„±ë³„ì½”ë“œ =='F')]))

1.1693877551020408

# ìë™ì°¨ ë³´í—˜ê°€ì… ì˜ˆì¸¡ ë°ì´í„°

## ë°ì´í„° ë¡œë“œ

In [828]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/train.csv")
df.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,188957,Female,25,1,17.0,1,< 1 Year,No,38785.0,152.0,59,0
1,275631,Male,20,1,22.0,0,< 1 Year,No,2630.0,160.0,113,0
2,329036,Female,40,1,41.0,0,1-2 Year,Yes,33165.0,124.0,188,0
3,227288,Female,28,1,30.0,1,< 1 Year,No,29038.0,152.0,233,0
4,300441,Female,50,1,28.0,0,1-2 Year,Yes,31325.0,124.0,258,0

## Vehicle_Age ê°’ì´ 2ë…„ ì´ìƒì¸ ì‚¬ëŒë“¤ë§Œ í•„í„°ë§í•˜ê³  Annual_Premium ê°’ì´ ì „ì²´ ë°ì´í„°ì˜ ì¤‘ê°„ê°’ ì´ìƒì¸ ì‚¬ëŒë“¤ì˜ VIntage ê°’ í‰ê·

In [847]:
print(df.loc[(df.Vehicle_Age == '> 2 Years')&(df.Annual_Premium >= df.Annual_Premium.median())].Vintage.mean())

154.43647182359118

## vehicle_ageì— ë”°ë¥¸ ê° ì„±ë³„ ê·¸ë£¹ì˜ Annual_Premiumê°’ì˜ í‰ê·

In [851]:
print(pd.pivot_table(df,index='Vehicle_Age',columns='Gender',values='Annual_Premium',aggfunc='mean'))

Gender             Female          Male
Vehicle_Age
1-2 Year     30762.245001  30413.088469
< 1 Year     29972.286702  30310.982212
> 2 Years    36108.366374  35303.870627

# í•¸ë“œí° ê°€ê²© ì˜ˆì¸¡ ë°ì´í„°

## ë°ì´í„° ë¡œë“œ

In [852]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/mobile/train.csv")
df.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

## price_rangeì˜ ê° valueë¥¼ ê·¸ë£¹í•‘í•˜ì—¬ ê° ê·¸ë£¹ì˜ n_coresì˜ ë¹ˆë„ê°€ ê°€ì¥ ë†’ì€ valueì™€ ê·¸ ë¹ˆë„ìˆ˜

In [867]:
result = df.groupby(['price_range','n_cores']).size().reset_index()
print(result.sort_values(['price_range',0],ascending=False).groupby('price_range').head(1))

    price_range  n_cores   0
28            3        5  70
19            2        4  73
8             1        1  76
1             0        2  69

## price_range ê°’ì´ 3ì¸ ê·¸ë£¹ì—ì„œ ìƒê´€ê´€ê³„ê°€ 2ë²ˆì§¸ë¡œ ë†’ì€ ë‘ ì»¬ëŸ¼ê³¼ ê·¸ ìƒê´€ê³„ìˆ˜

In [881]:
result = df.loc[df['price_range']==3].corr().unstack().reset_index().dropna()
result.loc[ result[0] !=1].sort_values(0,ascending=False).iloc[1]

level_0          fc
level_1          pc
0          0.635166
Name: 94, dtype: object

# ë¹„í–‰íƒ‘ìŠ¹ ê²½í—˜ ë§Œì¡±ë„ ë°ì´í„°

## ë°ì´í„° ë¡œë“œ

In [882]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/train.csv")
df.head()

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,55882,Male,Loyal Customer,42,Business travel,Business,473,1,1,3,...,5,5,5,5,3,5,3,3,0.0,satisfied
1,31906,Female,Loyal Customer,31,Business travel,Business,3271,4,4,4,...,3,3,5,5,3,4,3,1,5.0,satisfied
2,85481,Male,Loyal Customer,51,Personal Travel,Eco,214,5,0,5,...,3,4,4,4,4,4,3,2,0.0,satisfied
3,102134,Male,Loyal Customer,44,Business travel,Business,3097,1,1,3,...,4,4,4,4,3,4,5,0,0.0,satisfied
4,31580,Male,Loyal Customer,33,Business travel,Business,3286,1,1,1,...,4,2,5,2,5,1,4,0,0.0,satisfied

## Arrival Delay in Minutes ì»¬ëŸ¼ì´ ê²°ì¸¡ì¹˜ì¸ ë°ì´í„°ë“¤ ì¤‘ 'neutral or dissatisfied''ë³´ë‹¤ satisfied'ì˜ ìˆ˜ê°€ ë” ë†’ì€ Class

In [889]:
result = df.loc[(df['Arrival Delay in Minutes'].isnull())].groupby(['Class','satisfaction']).size().unstack()
print(result.loc[result['satisfied'] > result['neutral or dissatisfied']].index)

Index(['Business'], dtype='object', name='Class')

# ìˆ˜ì§ˆ ìŒìš©ì„± ì—¬ë¶€ ë°ì´í„°

## ë°ì´í„° ë¡œë“œ

In [890]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/train.csv")
df.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,7.918150,214.186611,23823.492888,7.290878,341.173322,411.424483,19.585002,25.057375,4.028958,0
1,5.422446,205.266080,18542.957451,5.491963,306.702227,382.080129,10.504023,67.493450,2.911751,1
2,7.341547,187.672402,21273.457066,7.784003,NaN,332.084293,16.842334,55.019151,4.025644,0
3,9.056245,197.666301,17403.532167,7.688917,337.460176,414.766631,15.349869,63.696746,3.319354,0
4,5.039374,142.860598,40829.353167,7.271543,NaN,386.803057,16.823773,52.297113,4.957420,0

## ph ê²°ì¸¡ì¹˜ë¥¼ ì œì™¸í•œ ë‚˜ë¨¸ì§€ ë°ì´í„°ë“¤ ì¤‘ ì‚¬ë¶„ìœ„ê°’ ê¸°ì¤€ í•˜ìœ„ 25%ì˜ ê°’ë“¤ì˜ í‰ê· ê°’

In [896]:
result = df.dropna(subset='ph')
print(result.loc[result.ph <= result.ph.describe()['25%']].ph.mean())

5.057093462441731

# ì˜ë£Œ ë¹„ìš© ì˜ˆì¸¡ ë°ì´í„°

## ë°ì´í„° ë¡œë“œ

In [897]:
import pandas as pd
train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/train.csv")
train.head()

   age     sex     bmi  children smoker     region      charges
0   64  female  39.330         0     no  northeast  14901.51670
1   47  female  27.830         0    yes  southeast  23065.42070
2   52  female  33.300         2     no  southwest  10806.83900
3   33  female  22.135         1     no  northeast   5354.07465
4   30    male  31.400         1     no  southwest   3659.34600

## í¡ì—°ìì™€ ë¹„í¡ì—°ì ê°ê° chargesì˜ ìƒìœ„ 10% ê·¸ë£¹ì˜ í‰ê·  ì°¨ì´

In [911]:
print(train.loc[(train.smoker=='yes')&(train.charges >= train.loc[train.smoker=='yes'].charges.sort_values(ascending=False).iloc[int(len(train.loc[train.smoker=='yes'])*0.1)-1])].charges.mean() - train.loc[(train.smoker=='no')&(train.charges >= train.loc[train.smoker=='no'].charges.sort_values(ascending=False).iloc[int(len(train.loc[train.smoker=='no'])*0.1)-1])].charges.mean())

29297.954548156144

# í‚¹ì¹´ìš´í‹° ì£¼ê±°ì§€ ê°€ê²©ì˜ˆì¸¡ë¬¸ì œ ë°ì´í„°

## ë°ì´í„° ë¡œë“œ

In [912]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/kingcountyprice//train.csv")
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,8961990160,20150413T000000,567500.0,3,2.5,2080,4556,2.0,0,0,...,8,2080,0,1999,0,98074,47.6036,-122.014,1530,5606
1,9455200205,20140604T000000,525000.0,3,2.0,1540,7800,1.0,0,0,...,8,1540,0,2004,0,98125,47.7041,-122.288,1510,7800
2,7853220670,20140918T000000,540000.0,3,2.5,2860,8935,2.0,0,0,...,8,2860,0,2004,0,98065,47.5336,-121.855,2650,6167
3,3298201170,20141110T000000,350000.0,3,1.0,940,7811,1.0,0,0,...,6,940,0,1959,0,98008,47.6195,-122.118,1180,7490
4,7972604355,20140521T000000,218000.0,3,1.0,1020,7874,1.0,0,0,...,7,1020,0,1956,0,98106,47.5175,-122.346,1290,7320

## bedroomsì˜ ë¹ˆë„ê°€ ê°€ì¥ ë†’ì€ ê°’ì„ ê°€ì§€ëŠ” ë°ì´í„°ë“¤ì˜ priceì˜ ìƒìœ„ 10%ì™€ í•˜ìœ„ 10% ê°’ì˜ ì°¨ì´

In [934]:
print(df.loc[df.bedrooms == df.bedrooms.value_counts().index[0]].price.quantile(0.9)- df.loc[df.bedrooms == df.bedrooms.value_counts().index[0]].price.quantile(0.1))

505500.0

# ëŒ€í•™ì› ì…í•™ê°€ëŠ¥ì„± ë°ì´í„°

## ë°ì´í„° ë¡œë“œ

In [935]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/admission/train.csv")
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,246,328,110,4,4.0,2.5,9.02,1,0.81
1,100,323,113,3,4.0,4.0,8.88,1,0.79
2,79,296,95,2,3.0,2.0,7.54,1,0.44
3,53,334,116,4,4.0,3.0,8.00,1,0.78
4,444,321,114,5,4.5,4.5,9.16,1,0.87

## Serial No.ì»¬ëŸ¼ì„ ì œì™¸í•˜ê³  'Chance of Admit'ì„ ì¢…ì†ë³€ìˆ˜, ë‚˜ë¨¸ì§€ ë³€ìˆ˜ë¥¼ ë…ë¦½ë³€ìˆ˜ë¼ í•  ë•Œ, ëœë¤í¬ë ˆìŠ¤íŠ¸ë¥¼ í†µí•´ íšŒê·€ ì˜ˆì¸¡ì„ í•  ë•Œ ë³€ìˆ˜ì¤‘ìš”ë„ ê°’

In [960]:

target = df['Chance of Admit']
train = df.drop(['Serial No.','Chance of Admit'],axis= 1)
from sklearn.ensemble import RandomForestRegressor
train
rf = RandomForestRegressor()
rf.fit(train,target)
result = pd.DataFrame({'importance':rf.feature_importances_},train.columns)
print(result.sort_values('importance',ascending=False))

                   importance
CGPA                 0.813163
GRE Score            0.087473
TOEFL Score          0.029226
SOP                  0.025182
LOR                  0.023677
University Rating    0.013544
Research             0.007734

# ë ˆë“œ ì™€ì¸ í€„ë¦¬í‹° ì˜ˆì¸¡ ë°ì´í„°

## ë°ì´í„° ë¡œë“œ

In [977]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/redwine/train.csv")
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,5.0,0.38,0.01,1.6,0.048,26.0,60.0,0.99084,3.70,0.75,14.0,6
1,5.0,0.42,0.24,2.0,0.060,19.0,50.0,0.99170,3.72,0.74,14.0,8
2,7.1,0.36,0.30,1.6,0.080,35.0,70.0,0.99693,3.44,0.50,9.4,5
3,7.6,0.29,0.49,2.7,0.092,25.0,60.0,0.99710,3.31,0.61,10.1,6
4,7.7,0.51,0.28,2.1,0.087,23.0,54.0,0.99800,3.42,0.74,9.2,5

## quality ê°’ì´ 3ì¸ ê·¸ë£¹ê³¼ 8ì¸ ë°ì´í„°ê·¸ë£¹ì˜ ê° ì»¬ëŸ¼ë³„ ë…ë¦½ë³€ìˆ˜ì˜ í‘œì¤€í¸ì°¨ ê°’ì˜ ì°¨ì´ê°€ ê°€ì¥ í° ì»¬ëŸ¼ëª…

In [978]:
print((abs(df.loc[df.quality == 3].std() - df.loc[df.quality == 8].std())).sort_values(ascending=False).index[0])

total sulfur dioxide

# ì•½ë¬¼ ë¶„ë¥˜ ë°ì´í„°

## ë°ì´í„° ë¡œë“œ

In [969]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/drug/train.csv")
df.head()

   Age Sex      BP Cholesterol  Na_to_K  Drug
0   20   F  NORMAL      NORMAL    9.281     4
1   24   M    HIGH      NORMAL    9.475     1
2   34   M  NORMAL        HIGH   22.456     0
3   17   M  NORMAL      NORMAL   10.832     4
4   72   M     LOW        HIGH   16.310     0

## ë‚¨ì„±ë“¤ì˜ ì—°ë ¹ëŒ€ë³„ Na_to_Kê°’ì˜ í‰ê· ê°’

In [975]:
df['Age2'] = df.Age.map(lambda x : (x//10)*10)
print(df.loc[df.Sex=='M'].groupby('Age2').Na_to_K.mean().to_frame())

        Na_to_K
Age2
10    13.627000
20    18.260769
30    15.244143
40    13.897273
50    14.811273
60    14.284308
70    11.363857

# ì‚¬ê¸°íšŒì‚¬ ë¶„ë¥˜ ë°ì´í„°

## ë°ì´í„° ë¡œë“œ

In [979]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/audit/train.csv")
df.head()

,Sector_score,LOCATION_ID,PARA_A,Score_A,Risk_A,PARA_B,Score_B,Risk_B,TOTAL,numbers,...,RiSk_E,History,Prob,Risk_F,Score,Inherent_Risk,CONTROL_RISK,Detection_Risk,Audit_Risk,Risk
0,2.72,14,4.53,0.6,2.718,87.93,0.6,52.758,92.46,5.0,...,0.4,0,0.2,0.0,4.0,108.362,0.4,0.5,21.6724,1
1,3.41,16,12.68,0.6,7.608,41.00,0.6,24.600,53.68,5.5,...,0.4,0,0.2,0.0,4.4,41.936,0.4,0.5,8.3872,1
2,2.72,11,3.11,0.6,1.866,113.97,0.6,68.382,117.08,5.5,...,0.4,0,0.2,0.0,4.4,88.832,0.4,0.5,17.7664,1
3,3.41,8,1.12,0.4,0.448,0.00,0.2,0.000,1.12,5.0,...,0.4,0,0.2,0.0,2.2,1.848,0.4,0.5,0.3696,0
4,55.57,9,1.06,0.4,0.424,0.00,0.2,0.000,1.06,5.0,...,0.4,0,0.2,0.0,2.2,1.824,0.4,0.5,0.3648,0

## ë°ì´í„°ì˜ Risk ê°’ì— ë”°ë¥¸ score_aì™€ score_b í‰ê· ê°’

In [985]:
print(df.groupby('Risk')[['Score_A','Score_B']].mean())

       Score_A   Score_B
Risk
0     0.262234  0.225532
1     0.490164  0.444262

# ì„¼ì„œ ë°ì´í„° ë™ì‘ ìœ í˜• ë¶„ë¥˜ ë°ì´í„°

## ë°ì´í„° ë¡œë“œ

In [986]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/train.csv")
df.head()

,motion_0,motion_1,motion_2,motion_3,motion_4,motion_5,motion_6,motion_7,motion_8,motion_9,...,motion_55,motion_56,motion_57,motion_58,motion_59,motion_60,motion_61,motion_62,motion_63,pose
0,-6.0,8.0,5.0,6.0,-12.0,-27.0,5.0,24.0,-8.0,-5.0,...,-1.0,-3.0,-6.0,-9.0,-7.0,36.0,68.0,3.0,-3.0,1
1,-32.0,-3.0,-4.0,-5.0,-1.0,16.0,0.0,-5.0,42.0,2.0,...,-17.0,-12.0,-1.0,-1.0,0.0,-26.0,-11.0,-4.0,-9.0,1
2,35.0,-2.0,-1.0,1.0,-25.0,-16.0,-3.0,-20.0,10.0,1.0,...,6.0,-65.0,6.0,-10.0,-31.0,-19.0,-3.0,-47.0,-17.0,0
3,-15.0,-6.0,-3.0,-5.0,27.0,37.0,-2.0,-2.0,19.0,5.0,...,2.0,11.0,0.0,-2.0,-4.0,-7.0,15.0,3.0,14.0,1
4,60.0,3.0,0.0,-7.0,-6.0,-10.0,-6.0,7.0,-11.0,-4.0,...,-12.0,17.0,-3.0,1.0,2.0,-2.0,20.0,18.0,10.0,0

## poseê°’ì— ë”°ë¥¸ ê° motion ì»¬ëŸ¼ì˜ ì¤‘ê°„ê°’ì˜ ê°€ì¥ í° ì°¨ì´ë¥¼ ë³´ì´ëŠ” motion ì»¬ëŸ¼ ë° ê°’

In [1009]:
result = df.groupby('pose').median().T
result['diff'] = abs(result[0] - result[1])
print(result[result['diff'] == max(result['diff'])].index)

Index(['motion_54', 'motion_62'], dtype='object')

# í˜„ëŒ€ ì°¨ëŸ‰ ê°€ê²© ë¶„ë¥˜ ë¬¸ì œ ë°ì´í„°

## ë°ì´í„° ë¡œë“œ

In [1010]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/train.csv")
df.head()

,model,year,price,transmission,mileage,fuelType,tax(Â£),mpg,engineSize
0,Tucson,2016,12795,Manual,36263,Diesel,30,61.7,1.7
1,I10,2012,3995,Manual,22089,Petrol,20,61.4,1.2
2,I30,2019,24000,Manual,555,Petrol,145,34.0,2.0
3,Tucson,2017,12995,Manual,32147,Diesel,30,61.7,1.7
4,Tucson,2018,14991,Semi-Auto,32217,Diesel,150,57.6,1.7

## ì •ë³´ê°€ ê°€ì¥ ë§ì€ ìƒìœ„ 3ì°¨ì¢…ì˜ price ê°’ì˜ ê° í‰ê· ê°’

In [1015]:
df.loc[df.model.isin(df.groupby('model').size().sort_values(ascending=False).head(3).index)].groupby('model').price.mean()

model
I10        7646.137891
I30       11651.821759
Tucson    15805.441373
Name: price, dtype: float64

# ë‹¹ë‡¨ì—¬ë¶€ íŒë‹¨ ë°ì´í„°

## ë°ì´í„° ë¡œë“œ

In [1016]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/diabetes/train.csv")
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,3,102,74,0,0,29.5,0.121,32,0
1,2,144,58,33,135,31.6,0.422,25,1
2,5,136,82,0,0,0.0,0.640,69,0
3,13,145,82,19,110,22.2,0.245,57,0
4,1,117,60,23,106,33.8,0.466,27,0

## outcome ê°’ì— ë”°ë¥¸ ê° ê·¸ë£¹ì˜ ê° ì»¬ëŸ¼ì˜ í‰ê·  ì°¨ì´

In [1021]:
result = df.groupby('Outcome').mean().T
result['diff'] = abs(result[0]-result[1])
print(result['diff'])

Pregnancies                  1.574159
Glucose                     29.943995
BloodPressure                3.202079
SkinThickness                2.952033
Insulin                     33.398645
BMI                          4.541437
DiabetesPedigreeFunction     0.143646
Age                          5.866939
Name: diff, dtype: float64

# ë„·í”Œë¦­ìŠ¤ ì£¼ì‹ ë°ì´í„°

## ë°ì´í„° ë¡œë“œ

In [1022]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/nflx/NFLX.csv")
df.head()

         Date      Open      High       Low     Close  Adj Close     Volume
0  2002-05-23  1.156429  1.242857  1.145714  1.196429   1.196429  104790000
1  2002-05-24  1.214286  1.225000  1.197143  1.210000   1.210000   11104800
2  2002-05-28  1.213571  1.232143  1.157143  1.157143   1.157143    6609400
3  2002-05-29  1.164286  1.164286  1.085714  1.103571   1.103571    6757800
4  2002-05-30  1.107857  1.107857  1.071429  1.071429   1.071429   10154200

## ë§¤ë…„ 5ì›”ë‹¬ì˜ open ê°€ê²©ì˜ í‰ê· ê°’

In [1028]:
df.Date = pd.to_datetime(df.Date)
df.loc[df.Date.dt.month == 5].groupby(df.Date.dt.to_period('M')).Open.mean()

Date
2002-05      1.155833
2003-05      1.641497
2004-05      4.261143
2005-05      1.951905
2006-05      4.163571
2007-05      3.159351
2008-05      4.435034
2009-05      5.790571
2010-05     14.417071
2011-05     34.650272
2012-05     10.523247
2013-05     31.936429
2014-05     51.121292
2015-05     85.057429
2016-05     92.705715
2017-05    158.255455
2018-05    329.779541
2019-05    359.664548
2020-05    433.880499
2021-05    496.923996
Freq: M, Name: Open, dtype: float64

# nba ì„ ìˆ˜ ëŠ¥ë ¥ì¹˜ ë°ì´í„°

## ë°ì´í„° ë¡œë“œ

In [1029]:
pd.set_option('display.max_columns',50)
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/nba/nba.csv",encoding='latin',sep=';')
df.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,C,22,TOR,73,28,23.6,3.6,8.3,0.439,0.8,2.1,0.359,2.9,6.1,0.468,0.486,1.1,1.8,0.595,2.0,4.5,6.5,1.1,0.5,0.6,1.2,2.1,9.1
1,2,Steven Adams,C,28,MEM,76,75,26.3,2.8,5.1,0.547,0.0,0.0,0.000,2.8,5.0,0.548,0.547,1.4,2.6,0.543,4.6,5.4,10.0,3.4,0.9,0.8,1.5,2.0,6.9
2,3,Bam Adebayo,C,24,MIA,56,56,32.6,7.3,13.0,0.557,0.0,0.1,0.000,7.3,12.9,0.562,0.557,4.6,6.1,0.753,2.4,7.6,10.1,3.4,1.4,0.8,2.6,3.1,19.1
3,4,Santi Aldama,PF,21,MEM,32,0,11.3,1.7,4.1,0.402,0.2,1.5,0.125,1.5,2.6,0.560,0.424,0.6,1.0,0.625,1.0,1.7,2.7,0.7,0.2,0.3,0.5,1.1,4.1
4,5,LaMarcus Aldridge,C,36,BRK,47,12,22.3,5.4,9.7,0.550,0.3,1.0,0.304,5.1,8.8,0.578,0.566,1.9,2.2,0.873,1.6,3.9,5.5,0.9,0.3,1.0,0.9,1.7,12.9

## Tm ì»¬ëŸ¼ì€ ê° íŒ€ì˜ ì˜ë¯¸í•¨, TOR íŒ€ì˜ í‰ê· ë‚˜ì´(ì†Œìˆ˜ 4ì§¸ìë¦¬)

In [1032]:
print(round(df.loc[df.Tm=='TOR'].Age.mean(),4))

24.8696

## ì „ì²´ ì„ ìˆ˜ ì¤‘ ì¤‘ ìµœì†Œ ë‚˜ì´ëŒ€ì˜ ì„ ìˆ˜ë“¤ì„ í•„í„°í•˜ê³  ê·¸ë“¤ ì¤‘ ê°€ì¥ ë§ì€ í¬ì§€ì…˜ ì¶œë ¥

In [1037]:
print(df.loc[df.Age==df.Age.min()].Pos.value_counts().index[0])

SG

## ì„ ìˆ˜ë“¤ì˜ ì´ë¦„ì€ first_name + ê³µë°± + last_nameìœ¼ë¡œ ì´ë£¨ì–´ì ¸ ìˆìŒ. ê°€ì¥ ë§ì€ first_name

In [1043]:
df['first_name'] = df['Player'].map(lambda x : x.split()[0])
print(df.first_name.value_counts().index[0])

Justin

## PTS ì»¬ëŸ¼ì€ ê²½ê¸°ë‹¹ í‰ê·  ë“ì ìˆ˜, ê° í¬ì§€ì…˜ë³„ë¡œ ê²½ê¸°ë‹¹ í‰ê· ë“ì ìˆ˜ì˜ í‰ê·

In [1045]:
print(df.groupby('Pos').PTS.mean())

Pos
C         7.690769
C-PF     12.850000
PF        7.737500
PF-SF     8.500000
PG        8.325161
PG-SG    22.000000
SF        7.270253
SF-SG     8.660000
SG        7.810553
SG-PG     9.525000
SG-SF     7.360000
Name: PTS, dtype: float64

## Gì»¬ëŸ¼ì€ ì°¸ì—¬í•œ ê²½ê¸°ì˜ ìˆ«ì, ê° íŒ€ë³„ë¡œ ê°€ì¥ ë†’ì€ ê²½ê¸°ì°¸ì—¬ ìˆ˜ë¥¼ ê°€ì§„ ì„ ìˆ˜ë“¤ì˜ ê²½ê¸° ì°¸ì—¬ ìˆ«ìì˜ í‰ê·

In [1055]:
print(df.sort_values(['Tm','G'],ascending=False).groupby('Tm').head(1).G.mean())

77.51612903225806

## Tmì˜ ê°’ì´ MIAì´ë©° PosëŠ” C ë˜ëŠ” PFì¸ ì„ ìˆ˜ì˜ MPê°’ì˜ í‰ê·

In [1057]:
print(df.loc[(df.Tm=='MIA')&((df.Pos == 'C')|(df.Pos=='PF'))].MP.mean())

16.7875

## ì „ì²´ ë°ì´í„° ì¤‘ Gì˜ í‰ê· ê°’ì˜ 1.5ë°° ì´ìƒì´ ë°ì´í„°ë“¤ë§Œ ì¶”ì¶œí–ˆì„ ë•Œ 3Pê°’ì˜ í‰ê·

In [1061]:
print(df.loc[df.G >= df.G.mean()*1.5]['3P'].mean())

1.3853658536585365

## Ageì˜ í‰ê·  ì´ìƒì¸ ê·¸ë£¹ê³¼ í‰ê·  ë¯¸ë§Œì¸ ê·¸ë£¹ê°„ì˜ Gê°’ì˜ í‰ê· ì˜ ì°¨ì´

In [1063]:
print(df.loc[df.Age >= df.Age.mean()].G.mean() - df.loc[df.Age < df.Age.mean()].G.mean())

3.787674551781862

## í‰ê· ë‚˜ì´ê°€ ê°€ì¥ ì Šì€ íŒ€

In [1067]:
print(df.groupby('Tm').Age.mean().sort_values().index[0])

MEM

## Pos ê·¸ë£¹ë³„ í‰ê·  MP ê°’

In [1069]:
print(df.groupby('Pos').MP.mean())

Pos
C        16.990000
C-PF     25.350000
PF       17.937500
PF-SF    27.300000
PG       19.547742
PG-SG    37.200000
SF       17.514557
SF-SG    20.340000
SG       18.554271
SG-PG    22.950000
SG-SF    19.620000
Name: MP, dtype: float64