# ìœ íŠœë¸Œ ì¸ê¸°ë™ì˜ìƒ ë°ì´í„°

## ë°ì´í„° ë¡œë“œ

In [1]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv",index_col=0)
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

## ì¸ê¸°ë™ì˜ìƒ ì œì‘íšŸìˆ˜ê°€ ë§ì€ ì±„ë„ ìƒìœ„ 10ê°œëª…ì„ ì¶œë ¥(ë‚ ì§œ ê¸°ì¤€, ì¤‘ë³µ í¬í•¨)

In [2]:
print(df.loc[df.channelId.isin(list(df.groupby('channelId').size().sort_values(ascending=False).keys()[:10]))].channelTitle.unique())

['ì¥ì‚ì­ˆ' 'ì´ëª‡ëª…' 'íŒŒë¿Œë¦¬' 'ì§¤íˆ°' 'ëŸ°ë‹ë§¨ - ìŠ¤ë¸ŒìŠ¤ ê³µì‹ ì±„ë„' 'ì— ëšœë£¨ë§ˆëšœë£¨ : MBC ê³µì‹ ì¢…í•© ì±„ë„' 'SPOTV'
 'ì±„ë„ ì‹­ì˜¤ì•¼' 'ì´ê³¼ì¥' 'BANGTANTV']

## ë…¼ë€ìœ¼ë¡œ ì¸ê¸°ë™ì˜ìƒì´ ëœ ì¼€ì´ìŠ¤ í™•ì¸, dislikes ìˆ˜ê°€ like ìˆ˜ë³´ë‹¤ ë†’ì€ ë™ì˜ìƒì„ ì œì‘í•œ ì±„ë„ì„ ëª¨ë‘ ì¶œë ¥

In [3]:
print(df.loc[df.dislikes > df.likes].channelTitle.unique())

['í•«ë„ê·¸TV' 'ASMR ì• ì •TV' 'í•˜ì–€íŠ¸ë¦¬HayanTree' 'ì–‘íŒ¡ YangPang' 'ì² êµ¬í˜• (CHULTUBE)'
 'ì™œëƒë§¨í•˜ìš°ìŠ¤' '(MUTUBE)ì™€ê¾¸ëŒ€ì¥ë´‰ì¤€' 'ì˜¤ë©”í‚´TV' 'ìœ¡ì§€ë‹´' 'MapleStory_KR'
 'ROAD FIGHTING CHAMPIONSHIP' 'ì‚¬ë‚˜ì´ ê¹€ê¸°í›ˆ' 'ë‚˜í˜¼ìì‚°ë‹¤ STUDIO' 'Gen.G esports']

## ì±„ë„ëª…ì„ í•œë²ˆì´ë¼ë„ ë°”ê¾¼ ì±„ë„ì˜ ê°¯ìˆ˜

In [4]:
change = df[['channelId','channelTitle']].drop_duplicates().channelId.value_counts()
print(len(change[change>1]))

71

## ì¼ìš”ì¼ì— ì¸ê¸°ìˆì—ˆë˜ ì˜ìƒë“¤ ì¤‘ ê°€ì¥ ë§ì€ ì˜ìƒ ì¢…ë¥˜

In [5]:
# df['weekends'] = df['trending_date2'].dt.weekends
df['trending_date2'] = pd.to_datetime(df['trending_date2'])
df['weekday'] = df['trending_date2'].dt.day_name()
print(df.loc[df.weekday=='Sunday'].categoryId.value_counts().index[0])

24

## ê° ìš”ì¼ë³„ ì¸ê¸° ì˜ìƒë“¤ì˜ categoryIDëŠ” ê°ê° ëª‡ê°œ ì”©ì¸ì§€ í•˜ë‚˜ì˜ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œí˜„í•˜ë¼

In [6]:
print(pd.pivot_table(df,index='categoryId',columns='weekday',aggfunc='size'))

weekday     Friday  Monday  Saturday  Sunday  Thursday  Tuesday  Wednesday
categoryId
1              243     263       255     274       246      257        234
2              120     105       119      99       128      119        129
10             833     837       776     830       890      894        917
15             187     215       198     217       207      208        207
17             633     668       592     636       682      708        706
19              90      92        87      91        92       89         85
20             283     298       296     289       282      285        291
22            1288    1373      1289    1337      1341     1375       1333
23             568     594       570     556       560      569        566
24            2976    3148      3066    3096      2954     3084       3090
25             444     453       422     437       470      452        468
26             369     378       364     363       375      394        385
27             183     205       183     199       194      194        212
28             171     160       173     167       166      161        165
29              12      10        10       9        13       11         12

## viewcount ëŒ€ë¹„ ëŒ“ê¸€ ìˆ˜ê°€ ê°€ì¥ ë†’ì€ ì˜ìƒì„ í™•ì¸

In [11]:
quest = df.loc[df.view_count != 0]
quest['feedback'] = quest['comment_count']/quest['view_count'].dropna()

quest.sort_values('feedback',ascending =False).iloc[0]['title']

/tmp/ipykernel_762/1598414501.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  quest['feedback'] = quest['comment_count']/quest['view_count'].dropna()

'60ë¶„ ë™ì•ˆ ëŒ“ê¸€ì´ ë‹¬ë¦¬ì§€ ì•Šìœ¼ë©´, ì˜ìƒì´ ì‚­ì œë©ë‹ˆë‹¤. (ì±Œë¦°ì§€)'

## viewcount ëŒ€ë¹„ ëŒ“ê¸€ ìˆ˜ê°€ ê°€ì¥ ë†’ì€ ì˜ìƒì„ í™•ì¸

In [22]:
quest = df.loc[df.view_count !=0]
quest['feedback'] = (quest.comment_count/quest.view_count)
quest = quest.loc[quest.feedback != 0]
quest.sort_values('feedback').iloc[0]['title']

/tmp/ipykernel_762/2899900271.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  quest['feedback'] = (quest.comment_count/quest.view_count)

'Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts'

## ì¢‹ì•„ìš” ìˆ˜ ëŒ€ë¹„ ì‹«ì•„ìš” ë¹„ìœ¨ì´ ê°€ì¥ ë‚®ì€ ì˜ìƒ í™•ì¸

In [23]:
quest = df.loc[(df.likes != 0) & (df.dislikes != 0)]
quest['ratio']=df.dislikes/df.likes
quest.sort_values('ratio').iloc[0]['title']

/tmp/ipykernel_762/2567045718.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  quest['ratio']=df.dislikes/df.likes

'[ì¤Œí„°ë·°] *ìµœì´ˆê³µê°œ* ì‚¬ë¶€ì‘ì¦ˆğŸ°ğŸ¶ì˜ ë¹„ê³µì‹ ì´ë¦„ì€ ì•„ì´ë¼ì¸ì¦ˆ? ê¿€ì¡°í•© í‹°í‚¤íƒ€ì¹´ ê°€ë“í•œ NCT 127 ë„ì˜&ì •ìš°ì˜ ì¤Œí„°ë·°'

## ê°€ì¥ ë§ì€ íŠ¸ë Œë“œ ì˜ìƒì„ ì œì‘í•œ ì±„ë„ì˜ ì´ë¦„

In [24]:
print(df.loc[df.channelId == df.channelId.value_counts().index[0]].channelTitle.unique()[0])

ì§¤íˆ°

## 20íšŒ ì´ìƒ ì¸ê¸°ë™ì˜ìƒ ë¦¬ìŠ¤íŠ¸ì— í¬í•¨ëœ ë™ì˜ìƒì˜ ìˆ«ì

In [25]:
print((df[['title','channelId']].value_counts() >= 20).sum())

40

# ìœ íŠœë¸Œ ê³µë²”ì»¨í…ì¸  ë™ì˜ìƒ ë°ì´í„°

## ë°ì´í„° ë¡œë“œ

In [26]:
import pandas as pd
channel =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv')
video =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv')

## ê° ë°ì´í„°ì˜ 'ct' ì»¬ëŸ¼ì„ ì‹œê°„ìœ¼ë¡œ ì¸ì‹í•  ìˆ˜ ìˆê²Œ datatypeì„ ë³€ê²½í•˜ê³  video ë°ì´í„°ì˜ videonameì˜ ê° value ë§ˆë‹¤ ëª‡ ê°œì˜ ë°ì´í„°ì”© ê°€ì§€ê³  ìˆëŠ”ì§€ í™•ì¸

In [32]:
channel['ct'] = pd.to_datetime(channel['ct'])
video['ct'] = pd.to_datetime(video['ct'])
print(video['videoname'].value_counts())

videoname
ê³µë²” EP1    3492
ê³µë²” EP2    3204
ê³µë²” EP3    2568
ê³µë²” EP4    2280
ê³µë²” EP5    1562
ê³µë²” EP6    1274
ê³µë²” EP7     555
ê³µë²” EP8     266
Name: count, dtype: int64

## ìˆ˜ì§‘ëœ ê° videì˜ ê°€ì¥ ìµœì‹ í™”ëœ ë‚ ì§œì˜ viewcount ê°’ ì¶œë ¥

In [43]:
print(video[['viewcnt','videoname','ct']].sort_values(['videoname','ct']).drop_duplicates('videoname',keep='last').reset_index(drop=True))

   viewcnt videoname                  ct
0  3180532    ê³µë²” EP1 2021-11-01 15:30:03
1  2199328    ê³µë²” EP2 2021-11-01 15:30:03
2  1671294    ê³µë²” EP3 2021-11-01 15:30:03
3  1818493    ê³µë²” EP4 2021-11-01 15:30:03
4  1503435    ê³µë²” EP5 2021-11-01 15:30:04
5  1750222    ê³µë²” EP6 2021-11-01 15:30:04
6  1630200    ê³µë²” EP7 2021-11-01 15:30:05
7  1289088    ê³µë²” EP8 2021-11-01 15:30:05

## channel ë°ì´í„° ì¤‘ 2021-10-03ì¼ ì´í›„ ê° ì±„ë„ì˜ ì²˜ìŒ ê¸°ë¡ ëë˜ êµ¬ë…ì ìˆ˜ ì¶œë ¥

In [51]:
quest = channel.loc[channel.ct >= '2021-10-03'].sort_values(['channelid','ct']).drop_duplicates('channelid',keep='first')
print(quest[['channelname','subcnt']].reset_index(drop=True))

        channelname   subcnt
0            ë…¼ë¦¬ì™• ì „ê¸°   922000
1             ì•¼ì „ì‚½ì§±ì¬   257000
2           í˜•ì‚¬!íƒì •ë˜ë‹¤    14900
3       ë¦´í„ Lilpearl    10100
4               ì¡°ë‚˜ë‹¨   215000
5        ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶     7520
6     Balming Tiger    54300
7               ê½ˆëšœë£¹  1330000
8   ì™€ê¸€ì™€ê¸€ WagleWagle    55000
9        ì¸„ì •ChuJeong   322000
10    ê³½í† ë¦¬ kwak tori   471000

## ê° ì±„ë„ì˜ 2021-10-03 03:00:00 ~ 2021-11-01 15:00:00 ê¹Œì§€ êµ¬ë…ììˆ˜ì˜ ì¦ê°€ëŸ‰

In [74]:
before = channel.loc[channel.ct >= '2021-10-03 03:00:00'].sort_values(['channelid','ct']).drop_duplicates('channelid',keep='first')
before = before.rename(columns={'subcnt':'before'})
after = channel.loc[channel.ct >= '2021-11-01 15:00:00'].sort_values(['channelid','ct']).drop_duplicates('channelid',keep='last')
after = after.rename(columns={'subcnt':'after'})
after
total = pd.merge(before[['channelid','channelname','before']],after[['channelid','channelname','after']])
total['del'] = total['after'] - total['before']
print(total[['channelname','del']])

        channelname    del
0            ë…¼ë¦¬ì™• ì „ê¸° -11000
1             ì•¼ì „ì‚½ì§±ì¬  11000
2           í˜•ì‚¬!íƒì •ë˜ë‹¤  10300
3       ë¦´í„ Lilpearl  11000
4               ì¡°ë‚˜ë‹¨  12000
5        ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶   1540
6     Balming Tiger   2500
7               ê½ˆëšœë£¹  70000
8   ì™€ê¸€ì™€ê¸€ WagleWagle      0
9        ì¸„ì •ChuJeong   1000
10    ê³½í† ë¦¬ kwak tori  -2000

## ê° ë¹„ë””ì˜¤ëŠ” 10ë¶„ ê°„ê²©ìœ¼ë¡œ êµ¬ë…ì ìˆ˜, ì¢‹ì•„ìš”, ì‹«ì–´ìš” ìˆ˜, ëŒ“ê¸€ ìˆ˜ ê°€ ìˆ˜ì§‘ë¨. ê³µë²” EP1ì˜ ë¹„ë””ì˜¤ ì •ë³´ ë°ì´í„° ì¤‘ ìˆ˜ì§‘ê°„ê²©ì´ 5ë¶„ ì´í•˜, 20ë¶„ ì´ìƒì¸ ë°ì´í„° êµ¬ê°„(í•´ë‹¹ ì‹œì  ì „, í›„)ì˜ ì‹œê°ì„ ëª¨ë‘ ì¶œë ¥

In [117]:
part1 = video.loc[video['videoname'] == ' ê³µë²” EP1'].sort_values('ct')
part1.loc[(part1.ct.diff(1) <= '0 days 00:5:00')|(part1.ct.diff(1) >= '0 days 00:20:00')]
print(part1.loc[[720,721,722,723,1635,1636,1637],:])

          videopk  viewcnt  likecnt  dislikecnt  favoritecnt  cmcnt  \
720   c5JQp6xafqc  2153676    34104         830            0   7120
721   c5JQp6xafqc  2228250    34559         849            0   7191
722   c5JQp6xafqc  2228250    34559         849            0   7191
723   c5JQp6xafqc  2228669    34566         849            0   7194
1635  c5JQp6xafqc  2706691    37893         987            0   7410
1636  c5JQp6xafqc  2707933    37901         988            0   7410
1637  c5JQp6xafqc  2708448    37903         988            0   7410

                      ct videoname
720  2021-10-12 19:20:03    ê³µë²” EP1
721  2021-10-13 09:41:37    ê³µë²” EP1
722  2021-10-13 09:41:37    ê³µë²” EP1
723  2021-10-13 09:50:03    ê³µë²” EP1
1635 2021-10-19 17:50:02    ê³µë²” EP1
1636 2021-10-19 18:20:03    ê³µë²” EP1
1637 2021-10-19 18:30:03    ê³µë²” EP1

## ê° ì—í”¼ì†Œë“œì˜ ì‹œì‘ë‚ ì§œ(ë…„-ì›”-ì¼)ì„ ì—í”¼ì†Œë“œ ì´ë¦„ê³¼ ë¬¶ì–´ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ë§Œë“¤ê³  ì¶œë ¥

In [133]:
video['date'] = video['ct'].dt.date
result = video.sort_values(['videoname','date']).drop_duplicates('videoname',keep='first')
print(result[['videoname','date']])

      videoname        date
10       ê³µë²” EP1  2021-10-07
3496     ê³µë²” EP2  2021-10-09
6696     ê³µë²” EP3  2021-10-14
9264     ê³µë²” EP4  2021-10-16
11544    ê³µë²” EP5  2021-10-21
13661    ê³µë²” EP6  2021-10-23
13106    ê³µë²” EP7  2021-10-28
14935    ê³µë²” EP8  2021-10-30

## video ì •ë³´ì˜ ê°€ì¥ ìµœê·¼ ë°ì´í„°ë“¤ì—ì„œ ê° ì—í”¼ì†Œë“œì˜ ì‹«ì–´ìš”/ì¢‹ì•„ìš” ë¹„ìœ¨ì„ ratio ì»¤ëŸ¼ìœ¼ë¡œ ë§Œë“¤ê³  videoname,ratioë¡œ êµ¬ì„±ëœ ë°ì´í„° í”„ë ˆì„ì„ ratio ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ì •ë ¬

In [142]:
result = video.sort_values(['videoname','ct']).drop_duplicates('videoname',keep='last')
result['ratio'] = result.dislikecnt/result.likecnt
print(result[['videoname','ratio']].sort_values('ratio'))

      videoname     ratio
13660    ê³µë²” EP7  0.013636
14934    ê³µë²” EP6  0.015881
11543    ê³µë²” EP4  0.017971
13105    ê³µë²” EP5  0.021128
9263     ê³µë²” EP3  0.022360
3491     ê³µë²” EP1  0.027118
6695     ê³µë²” EP2  0.029844
15200    ê³µë²” EP8  0.141357

## 2021-11-01 00:00:00 ~ 15:00:00ê¹Œì§€ ê° ì—í”¼ì†Œë“œë³„ viewcntì˜ ì¦ê°€ëŸ‰ì„ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ë§Œë“œì‹œì˜¤

In [153]:
before = video.loc[(video.ct >= '2021-11-01 00:00:00'),['videoname','viewcnt','ct']].sort_values(['videoname','ct']).drop_duplicates('videoname',keep='first')
before = before.rename(columns={'viewcnt':'before'})
after = video.loc[(video.ct <= '2021-11-01 15:00:00'),['videoname','viewcnt','ct']].sort_values(['videoname','ct']).drop_duplicates('videoname',keep='last')
after = after.rename(columns={'viewcnt':'after'})
total = pd.merge(before[['videoname','before']],after[['videoname','after']])
total['viewcnt'] = total['after']-total['before']
print(total[['videoname','viewcnt']])

  videoname  viewcnt
0    ê³µë²” EP1    13298
1    ê³µë²” EP2    10300
2    ê³µë²” EP3     9927
3    ê³µë²” EP4     9824
4    ê³µë²” EP5    10824
5    ê³µë²” EP6    14141
6    ê³µë²” EP7    26949
7    ê³µë²” EP8    89147

## video ë°ì´í„° ì¤‘ì—ì„œ ì¤‘ë³µë˜ëŠ” ë°ì´í„°ì˜ ì‹œê°„ëŒ€ì™€ videoname

In [174]:
answer = video[video.index.isin(set(video.index) - set(video.drop_duplicates().index))]
print(answer[['videoname','ct']])

     videoname                  ct
722     ê³µë²” EP1 2021-10-13 09:41:37
3927    ê³µë²” EP2 2021-10-13 09:41:37

# ì›”ë“œì»µ ì¶œì „ì„ ìˆ˜ ê³¨ê¸°ë¡ ë°ì´í„°

## ë°ì´í„° ë¡œë“œ

In [410]:
import pandas as pd

df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv')
df.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

## ì£¼ì–´ì§„ ì „ì²´ ê¸°ê°„ì˜ ê° ë‚˜ë¼ë³„ ê³¨ë“ì ìˆ˜ ìƒìœ„ 5ê°œ êµ­ê°€ì™€ ê·¸ ë“ì ìˆ˜ ì¶œë ¥

In [411]:
print(df[['Country','Goals']].groupby('Country').sum().sort_values('Goals',ascending=False).head(5))

           Goals
Country
Brazil       228
Germany      226
Argentina    135
Italy        123
France       115

## ê³¨ë“ì ì„ í•œ ì„ ìˆ˜ê°€ ë§ì€ ìƒìœ„ 5ê°œ êµ­ê°€ì™€ ê·¸ ì„ ìˆ˜ ìˆ«ìë¥¼ ë°ì´í„° í”„ë ˆì„ í˜•ì‹ìœ¼ë¡œ ì¶œë ¥

In [412]:
print(df[['Country','Player']].groupby('Country').size().sort_values(ascending=False).head(5))

Country
Brazil       81
Germany      78
Italy        60
Argentina    59
France       58
dtype: int64

## ë…„ë„ í‘œê¸°ê°€ 4ìë¦¬ ìˆ«ìë¡œ ì•ˆëœ ì¼€ì´ìŠ¤ê°€ ëª‡ ê±´ì¸ì§€ ì¶œë ¥

In [413]:
df['Years_list'] = df['Years'].str.split('-')
def check(row):
    answer = False
    for i in row:
        if len(i) != 4:
            answer = True
    return answer
df['Check'] = df['Years_list'].apply(check)
print(len(df.loc[df['Check'] == True]))

45

## ë…„ë„ í‘œê¸°ê°€ 4ìë¦¬ ìˆ«ìë¡œ ë˜ì–´ìˆëŠ” ì¼€ì´ìŠ¤ë§Œ ì¶”ì¶œ

In [414]:
df2 = df.loc[df['Check'] == False]
print(len(df2))

1250

## ì›”ë“œì»µ ì¶œì „íšŸìˆ˜ë¥¼ ë‚˜íƒ€ë‚´ëŠ” 'LenCup' ì»¬ëŸ¼ì„ ì¶”ê°€í•˜ê³  4íšŒ ì¶œì „í•œ ì„ ìˆ˜ì˜ ìˆ«ì ì¶œë ¥

In [415]:
df2['LenCup'] = df.Years_list.map(lambda x : len(x))
print(len(df2.loc[df2.LenCup == 4]))

16

/tmp/ipykernel_762/715742222.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['LenCup'] = df.Years_list.map(lambda x : len(x))

## Yugoslavia êµ­ê°€ì˜ ì›”ë“œì»µ ì¶œì „íšŸìˆ˜ê°€ 2íšŒì¸ ì„ ìˆ˜ë“¤ì˜ ìˆ«ì

In [416]:
print(len(df2[(df2.Country == 'Yugoslavia') & (df2.LenCup == 2)]))

7

## 2002ë…„ë„ì— ì¶œì „í•œ ì „ì²´ ì„ ìˆ˜

In [417]:
print(len(df2.loc[df2.Years.str.contains('2002')]))

156

## ì´ë¦„ì— 'carlos' ë‹¨ì–´ê°€ ë“¤ì–´ê°€ëŠ” ì„ ìˆ˜ì˜ ìˆ«ì

In [418]:
print(len(df2.loc[df.Player.str.lower().str.contains('carlos')]))

13

## ì›”ë“œì»µ ì¶œì „ íšŸìˆ˜ê°€ 1íšŒë¿ì¸ ì„ ìˆ˜ë“¤ ì¤‘ì—ì„œ ê°€ì¥ ë§ì€ ë“ì ì„ ì˜¬ë ¸ë˜ ì„ ìˆ˜

In [419]:
print(df2.loc[df2.LenCup == 1].sort_values('Goals',ascending=False)['Player'].values[0])

Just Fontaine

## ì›”ë“œì»µ ì¶œì „íšŸìˆ˜ê°€ 1íšŒ ë¿ì¸ ì„ ìˆ˜ë“¤ì´ ê°€ì¥ ë§ì€ êµ­ê°€

In [420]:
print(df2.loc[df2.LenCup == 1].groupby('Country').size().sort_values(ascending=False).index[0])

Brazil

# ì„œìš¸ì‹œ ë”°ë¦‰ì´ ì´ìš©ì •ë³´ ë°ì´í„°

## ë°ì´í„° ë¡œë“œ

In [421]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bicycle/seoul_bi.csv')
df.head()

         ëŒ€ì—¬ì¼ì  ëŒ€ì—¬ì‹œê°„  ëŒ€ì—¬ì†Œë²ˆí˜¸ ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ ì„±ë³„ ì—°ë ¹ëŒ€ì½”ë“œ  ì´ìš©ê±´ìˆ˜    ìš´ë™ëŸ‰   íƒ„ì†ŒëŸ‰     ì´ë™ê±°ë¦¬  ì‚¬ìš©ì‹œê°„
0  2021-06-01     0   3541    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1   0.00  0.00     0.00     8
1  2021-06-01     0    765    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1  27.21  0.35  1526.81    19
2  2021-06-01     0   2637    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1  41.40  0.37  1608.56    18
3  2021-06-01     0   2919    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1   0.00  0.00     0.00    75
4  2021-06-01     0    549    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1  13.04  0.17   731.55     6

## ëŒ€ì—¬ì¼ìë³„ ë°ì´í„°ì˜ ìˆ˜ë¥¼ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥í•˜ê³ , ê°€ì¥ ë§ì€ ë°ì´í„°ê°€ ìˆëŠ” ë‚ ì§œ ì¶œë ¥

In [422]:
print(df.groupby('ëŒ€ì—¬ì¼ì').size())
print(df.groupby('ëŒ€ì—¬ì¼ì').size().sort_values(ascending= False).index[0])

ëŒ€ì—¬ì¼ì
2021-06-01    48081
2021-06-02    56100
2021-06-03    18985
2021-06-04    56788
2021-06-05    52730
2021-06-06    47787
2021-06-07    52623
2021-06-08    55623
2021-06-09    54507
2021-06-10    36992
2021-06-11    52089
2021-06-12    48569
2021-06-13    43131
2021-06-14    54945
dtype: int64
2021-06-04

## ê° ì¼ìì˜ ìš”ì¼ì„ í‘œê¸°í•˜ê³  day_name ì¹¼ëŸ¼ì„ ì¶”ê°€í•˜ê³  ì´ë¥¼ ì´ìš©í•˜ì—¬ ê° ìš”ì¼ë³„ ì´ìš© íšŒìˆ«ì˜ ì´í•©ì„ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥

In [423]:
df['ëŒ€ì—¬ì¼ì'] = pd.to_datetime(df['ëŒ€ì—¬ì¼ì'])
df['day_name'] = df['ëŒ€ì—¬ì¼ì'].dt.day_name()
print(df.groupby('day_name').size())

day_name
Friday       108877
Monday       107568
Saturday     101299
Sunday        90918
Thursday      55977
Tuesday      103704
Wednesday    110607
dtype: int64

## ê° ìš”ì¼ë³„ ê°€ì¥ ë§ì´ ì´ìš©í•œ ëŒ€ì—¬ì†Œì˜ ì´ìš©íšŸìˆ˜ì™€ ëŒ€ì—¬ì†Œ ë²ˆí˜¸ë¥¼ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥

In [424]:
df.groupby(['day_name','ëŒ€ì—¬ì†Œë²ˆí˜¸']).size().sort_values(ascending=False).reset_index().drop_duplicates('day_name',keep='first')

      day_name  ëŒ€ì—¬ì†Œë²ˆí˜¸    0
0     Saturday    502  378
1       Sunday    502  372
8    Wednesday    502  282
9       Friday    502  277
10     Tuesday    502  267
19      Monday    502  242
298   Thursday   2715  137

## ë‚˜ì´ëŒ€ë³„ ëŒ€ì—¬êµ¬ë¶„ ì½”ë“œì˜ (ì¼ì¼ê¶Œ/ì „ì²´íšŸìˆ˜) ë¹„ìœ¨ì„ êµ¬í•œ í›„ ê°€ì¥ ë†’ì€ ë¹„ìœ¨ì„ ê°€ì§€ëŠ” ë‚˜ì´ëŒ€ í™•ì¸/ì¼ì¼ê¶Œì˜ ê²½ìš° ì¼ì¼ê¶Œê³¼ ì¼ì¼ê¶Œ(ë¹„íšŒì›)ì„ ëª¨ë‘ í¬í•¨

In [425]:
print((df.loc[df['ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ'].str.contains('ì¼ì¼ê¶Œ')].groupby('ì—°ë ¹ëŒ€ì½”ë“œ').size() /df.groupby('ì—°ë ¹ëŒ€ì½”ë“œ').size()))
print((df.loc[df['ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ'].str.contains('ì¼ì¼ê¶Œ')].groupby('ì—°ë ¹ëŒ€ì½”ë“œ').size() /df.groupby('ì—°ë ¹ëŒ€ì½”ë“œ').size()).sort_values().index[-1])

ì—°ë ¹ëŒ€ì½”ë“œ
20ëŒ€     0.239913
30ëŒ€     0.166702
40ëŒ€     0.110585
50ëŒ€     0.065414
60ëŒ€     0.042462
70ëŒ€~    0.048962
~10ëŒ€    0.312525
dtype: float64
~10ëŒ€

## ì—°ë ¹ëŒ€ë³„ í‰ê·  ì´ë™ê±°ë¦¬

In [426]:
print(df.groupby('ì—°ë ¹ëŒ€ì½”ë“œ').ì´ë™ê±°ë¦¬.mean())

ì—°ë ¹ëŒ€ì½”ë“œ
20ëŒ€     3211.890552
30ëŒ€     3341.443859
40ëŒ€     3514.857416
50ëŒ€     3593.668100
60ëŒ€     3538.145737
70ëŒ€~    3085.039641
~10ëŒ€    2634.426279
Name: ì´ë™ê±°ë¦¬, dtype: float64

## ì—°ë ¹ëŒ€ê°€ 20ëŒ€ì¸ ë°ì´í„°ë¥¼ ì¶”ì¶œí•˜ê³ , ì´ë™ê±°ë¦¬ê°’ì´ ì¶”ì¶œí•œ ë°ì´í„°ì˜ ì´ë™ê±°ë¦¬ê°’ì˜ í‰ê·  ì´ìƒì¸ ë°ì´í„°ë¥¼ ì¶”ì¶œ, ìµœì¢… ì¶”ì¶œëœ ë°ì´í„°ë¥¼ ëŒ€ì—¬ì¼ì, ëŒ€ì—¬ì†Œ ë²ˆí˜¸ ìˆœì„œë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬ í›„ 1í–‰ë¶€í„° 200í–‰ê¹Œì§€ì˜ íƒ„ì†ŒëŸ‰ì˜ í‰ê· ì„ ì†Œìˆ«ì  3ì§¸ ìë¦¬ê¹Œì§€ êµ¬í•˜ê¸°

In [427]:
answer = df.loc[df.ì—°ë ¹ëŒ€ì½”ë“œ == '20ëŒ€'].loc[df.ì´ë™ê±°ë¦¬ >= df.ì´ë™ê±°ë¦¬.mean()].sort_values(['ëŒ€ì—¬ì¼ì','ëŒ€ì—¬ì†Œë²ˆí˜¸'],ascending=False).reset_index(drop=True)[:200]
answer['íƒ„ì†ŒëŸ‰'] = answer['íƒ„ì†ŒëŸ‰'].astype(float)
print(round(answer['íƒ„ì†ŒëŸ‰'].mean(),3))

1.643

## 6ì›” 7ì¼ ~10ì˜ ì´ìš©ê±´ìˆ˜ì˜ ì¤‘ì•™ê°’

In [428]:
df.loc[(df.ëŒ€ì—¬ì¼ì == '2021-06-07')&(df.ì—°ë ¹ëŒ€ì½”ë“œ == '~10ëŒ€')].ì´ìš©ê±´ìˆ˜.median()

1.0

## í‰ì¼ ì¶œê·¼ ì‹œê°„ëŒ€ì˜ ëŒ€ì—¬ì†Œë³„ ì´ìš© íšŸìˆ˜ ì¶”ì¶œ/ ëŒ€ì—¬ì‹œê°„ë³„ ì´ìš©íšŸìˆ˜ì˜ ìƒìœ„ 3ê°œ ëŒ€ì—¬ì†Œì™€ ì´ìš©íšŸìˆ˜

In [429]:
result = df.loc[(~df.day_name.isin(['Saturday','Sunday']))&(df.ëŒ€ì—¬ì‹œê°„.isin([6,7,8]))].groupby(['ëŒ€ì—¬ì‹œê°„','ëŒ€ì—¬ì†Œë²ˆí˜¸']).size().to_frame('ì´ìš© íšŸìˆ˜')
print(result.sort_values(['ëŒ€ì—¬ì‹œê°„','ì´ìš© íšŸìˆ˜'],ascending=False).groupby('ëŒ€ì—¬ì‹œê°„').head(3))

            ì´ìš© íšŸìˆ˜
ëŒ€ì—¬ì‹œê°„ ëŒ€ì—¬ì†Œë²ˆí˜¸
8    2701     119
     646      115
     1152      92
7    259      104
     230       77
     726       77
6    2744      45
     1125      40
     1028      36

## ì´ë™ê±°ë¦¬ í‰ê·  ì´ìƒì˜ ì´ë™ê±°ë¦¬ ê°’ì„ ê°€ì§€ëŠ” ë°ì´í„°ì˜ ì´ë™ê±°ë¦¬ í‘œë³¸í‘œì¤€í¸ì°¨

In [430]:
import numpy as np
print(df.loc[df.ì´ë™ê±°ë¦¬ >= df.ì´ë™ê±°ë¦¬.mean()].ì´ë™ê±°ë¦¬.std())

5092.139707505356

## ë‚¨ì„±ì™€ ì—¬ì„±ì˜ ì´ë™ê±°ë¦¬ê°’ì˜ í‰ê· ê°’

In [432]:
def sex(row):
    if row == 'F' or row == 'f':
        answer = 'ì—¬ì„±'
    else:
        answer = 'ë‚¨ì„±'
    return answer
df['sex'] = df['ì„±ë³„'].apply(sex)
df
df.groupby('sex').ì´ë™ê±°ë¦¬.mean()

sex
ë‚¨ì„±    3209.110871
ì—¬ì„±    3468.575025
Name: ì´ë™ê±°ë¦¬, dtype: float64

# ì „ì„¸ê³„ í–‰ë³µë„ ì§€í‘œ ë°ì´í„°

## ë°ì´í„° ë¡œë“œ

In [433]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv',encoding='utf-8')
df.head()

,í–‰ë³µë­í‚¹,ë‚˜ë¼ëª…,ì ìˆ˜,ìƒëŒ€GDP,ì‚¬íšŒì ì§€ì›,í–‰ë³µê¸°ëŒ€ì¹˜,ì„ íƒì˜ ììœ ë„,ê´€ëŒ€í•¨,ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹,ë…„ë„
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

## ë°ì´í„°ëŠ” 2018ë…„ë„ì™€ 2019ë…„ë„ì˜ ì „ì„¸ê³„ í–‰ë³µ ì§€ìˆ˜ë¥¼ í‘œí˜„í•˜ê³ , ê° ë…„ë„ì˜ í–‰ë³µë­í‚¹ 50ìœ„ ì´ë‚´ì˜ ë‚˜ë¼ë“¤ì˜ ê°ê°ì˜ í–‰ë³µ ì ìˆ˜ í‰ê· ì„ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œì‹œ

In [446]:
answer = df.loc[(df.ë…„ë„ == 2018)|(df.ë…„ë„ == 2019)].sort_values(['ë…„ë„','ì ìˆ˜'],ascending=False).groupby('ë…„ë„').head(50)
print(answer.groupby('ë…„ë„').ì ìˆ˜.mean().to_frame())

           ì ìˆ˜
ë…„ë„
2018  6.64678
2019  6.67002

## 2018ë…„ë„ ë°ì´í„°ë“¤ë§Œ ì¶”ì¶œí•˜ì—¬ í–‰ë³µì ìˆ˜ì™€ ë¶€íŒ¨ì— ëŒ€í•œ ì¸ì‹ì— ëŒ€í•œ ìƒê´€ê³„ìˆ˜ë¥¼ êµ¬í•˜ê¸°

In [457]:
print(df.loc[df.ë…„ë„ == 2018][['ì ìˆ˜','ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹']].corr().iloc[0,1])

0.40529152271510027

## 2018ë…„ë„ì™€ 2019ë…„ë„ì˜ í–‰ë³µë­í‚¹ì´ ë³€í™”í•˜ì§€ ì•Šì€ ë‚˜ë¼ëª…ì˜ ìˆ˜

In [484]:
df2018 = df.loc[df.ë…„ë„ == 2018]
df2018 = df2018.rename(columns={'ë…„ë„':'2018','í–‰ë³µë­í‚¹':'2018 ì ìˆ˜'})
df2019 = df.loc[df.ë…„ë„ == 2019]
df2019 = df2019.rename(columns={'ë…„ë„':'2019','í–‰ë³µë­í‚¹':'2019 ì ìˆ˜'})
df2019 =df2019[['ë‚˜ë¼ëª…','2019 ì ìˆ˜']]
df2018 = df2018[['ë‚˜ë¼ëª…','2018 ì ìˆ˜']]
total = pd.merge(df2018,df2019)
total['diff'] = total['2019 ì ìˆ˜'] - total['2018 ì ìˆ˜']
# total.loc[total.diff == 0]
print(len(total.loc[total['diff']==0]))

15

## 2019ë…„ë„ ë°ì´í„°ë“¤ë§Œ ì¶”ì¶œí•˜ì—¬ ê° ë³€ìˆ˜ê°„ ìƒê´€ê³„ìˆ˜ë¥¼ êµ¬í•˜ê³  ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•œ í›„ ìƒìœ„ 5ê°œë¥¼ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥, ì»¬ë ´ëª… v1, v2, corr í‘œì‹œ

In [501]:
df2019 = df.loc[df.ë…„ë„ == 2019]
result = df2019[['ìƒëŒ€GDP','ì‚¬íšŒì ì§€ì›','í–‰ë³µê¸°ëŒ€ì¹˜','ì„ íƒì˜ ììœ ë„','ê´€ëŒ€í•¨','ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹']].corr().unstack().reset_index().drop_duplicates()
result = result.rename(columns={'level_0':'v1','level_1':'v2',0:'corr'})
print(result.loc[result['corr'] != 1].sort_values('corr',ascending=False).reset_index(drop=True).head(5))

      v1     v2      corr
0  ìƒëŒ€GDP  í–‰ë³µê¸°ëŒ€ì¹˜  0.835462
1  í–‰ë³µê¸°ëŒ€ì¹˜  ìƒëŒ€GDP  0.835462
2  ìƒëŒ€GDP  ì‚¬íšŒì ì§€ì›  0.754906
3  ì‚¬íšŒì ì§€ì›  ìƒëŒ€GDP  0.754906
4  ì‚¬íšŒì ì§€ì›  í–‰ë³µê¸°ëŒ€ì¹˜  0.719009

## ê° ë…„ë„ë³„ í•˜ìœ„ í–‰ë³µì ìˆ˜ì˜ í•˜ìœ„ 5ê°œ êµ­ê°€ì˜ í‰ê·  í–‰ë³µì ìˆ˜

In [511]:
result = df.sort_values(['ë…„ë„','ì ìˆ˜']).groupby('ë…„ë„').head(5)
print(result.groupby('ë…„ë„').ì ìˆ˜.mean())

ë…„ë„
2018    3.1800
2019    3.1408
Name: ì ìˆ˜, dtype: float64

## ê° ë…„ë„ì˜ ë¶€íŒ¨ì— ëŒ€í•œ ì¸ì‹ì„ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬í–ˆì„ ë•Œ ìƒìœ„ 20ê°œ êµ­ê°€ì˜ ë¶€íŒ¨ì— ëŒ€í•œ ì¸ì‹ì˜ í‰ê·

In [515]:
result = df.sort_values(['ë…„ë„','ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹'],ascending=False).groupby('ë…„ë„').head(20)
print(result.groupby('ë…„ë„')['ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹'].mean())

ë…„ë„
2018    0.3267
2019    0.3201
Name: ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹, dtype: float64

## 2018ë…„ë„ í–‰ë³µë­í‚¹ 50ìœ„ ì´ë‚´ì— í¬í•¨ëë‹¤ê°€ 2019ë…„ 50ìœ„ ë°–ìœ¼ë¡œ ë°€ë ¤ë‚œ êµ­ê°€ì˜ ìˆ«ì

In [519]:
df2018 = df.loc[(df.í–‰ë³µë­í‚¹ <= 50)&(df.ë…„ë„ == 2018)]
df2019 = df.loc[(df.í–‰ë³µë­í‚¹ >= 50)&(df.ë…„ë„ == 2019)]
total = pd.merge(df2018['ë‚˜ë¼ëª…'],df2019['ë‚˜ë¼ëª…'])
print(len(total))

4

## 2018ë…„, 2019ë…„ ëª¨ë‘ ê¸°ë¡ì´ ìˆëŠ” ë‚˜ë¼ë“¤ ì¤‘ ë…„ë„ë³„ í–‰ë³µì ìˆ˜ê°€ ê°€ì¥ ì¦ê°€í•œ ë‚˜ë¼ì™€ ê·¸ ì¦ê°€ ìˆ˜ì¹˜

In [529]:
df2018 = df.loc[df.ë…„ë„ == 2018]
df2019 = df.loc[df.ë…„ë„ == 2019]
df2018 = df2018[['ë‚˜ë¼ëª…','ì ìˆ˜']]
df2018 = df2018.rename(columns={'ì ìˆ˜':'2018ì ìˆ˜'})
df2019 = df2019[['ë‚˜ë¼ëª…','ì ìˆ˜']]
df2019 = df2019.rename(columns={'ì ìˆ˜':'2019ì ìˆ˜'})
total = pd.merge(df2018,df2019)
total['diff'] = total['2019ì ìˆ˜'] - total['2018ì ìˆ˜']
total.sort_values('diff',ascending=False).head(1)

         ë‚˜ë¼ëª…  2018ì ìˆ˜  2019ì ìˆ˜  diff
151  Burundi   2.905   3.775  0.87

# ì§€ì—­êµ¬ ì—ë„ˆì§€ ì†Œë¹„ëŸ‰ ë°ì´í„°

## ë°ì´í„° ë¡œë“œ

In [530]:
import pandas as pd
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/consum/Tetuan%20City%20power%20consumption.csv')
df.head()

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,1/1/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,1/1/2017 0:20,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,1/1/2017 0:30,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,1/1/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964

## dataframe ì»¬ëŸ¼ì„ í†µí•´ ê° ì›”ë³„ë¡œ ëª‡ê°œì˜ ë°ì´í„°ê°€ ìˆëŠ”ì§€ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥

In [536]:
df['month'] = pd.to_datetime(df.DateTime).dt.month
print(df.groupby('month').size())

month
1     4464
2     4032
3     4464
4     4320
5     4464
6     4320
7     4464
8     4464
9     4320
10    4464
11    4320
12    4320
dtype: int64

## 3ì›”ë‹¬ì˜ ê° ì‹œê°„ëŒ€ë³„ ì˜¨ë„ í‰ê· ë“¤ ì¤‘ ê°€ì¥ ë‚®ì€ ì‹œê°„ëŒ€ì˜ ì˜¨ë„ ì¶œë ¥

In [549]:
df['hour'] = pd.to_datetime(df.DateTime).dt.hour
print(df.loc[df.month == 3].groupby('hour').Temperature.mean().sort_values().head(1))

hour
7    11.506613
Name: Temperature, dtype: float64

## 3ì›”ë‹¬ì˜ ê° ì‹œê°„ëŒ€ë³„ ì˜¨ë„ì˜ í‰ê· ë“¤ ì¤‘ ê°€ì¥ ë†’ì€ ì‹œê°„ëŒ€ì˜ ì˜¨ë„ ì¶œë ¥

In [551]:
df['hour'] = pd.to_datetime(df.DateTime).dt.hour
print(df.loc[df.month == 3].groupby('hour').Temperature.mean().sort_values(ascending=False).head(1))

hour
15    18.393602
Name: Temperature, dtype: float64

## Zone 1 Power Consumption ì»¬ëŸ¼ì˜ value ê°’ì˜ í¬ê¸°ê°€ Zone 2 Power Consumption ì»¬ëŸ¼ì˜ valueê°’ì˜ í¬ê¸°ë³´ë‹¤ í° ë°ì´í„°ë“¤ì˜ Humidityì˜ í‰ê·

In [563]:
df['diff'] = df['Zone 1 Power Consumption'] - df['Zone 2  Power Consumption']
print(df.loc[df['diff'] > 0].Humidity.mean())

68.23624448055052

## ê° zoneì˜ ì—ë„ˆì§€ ì†Œë¹„ëŸ‰ì˜ ìƒê´€ê´€ê³„ë¥¼ êµ¬í•´ì„œ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œê¸°

In [570]:
df[['Zone 1 Power Consumption','Zone 2  Power Consumption','Zone 3  Power Consumption']].corr()

,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
Zone 1 Power Consumption,1.000000,0.834519,0.750733
Zone 2 Power Consumption,0.834519,1.000000,0.570932
Zone 3 Power Consumption,0.750733,0.570932,1.000000

## Temperatureì˜ ê°’ì´ 10ë¯¸ë§Œì˜ ê²½ìš° A, 10ì´ìƒ 20ë¯¸ë§Œì˜ ê²½ìš° B, 20 ì´ìƒ 30 ë¯¸ë§Œì˜ ê²½ìš° C, ê·¸ ì™¸ì˜ ê²½ìš° Dë¼ê³  í•  ë•Œ ê° ë‹¨ê³„ì˜ ë°ì´í„° ìˆ«ì

In [575]:
def temperature(row):
    if row < 10:
        answer = "A"
    elif row >= 10 and row < 20:
        answer = 'B'
    elif row >= 20 and row < 30:
        answer = 'C'
    else:
        answer = 'D'
    return answer
df['grade'] = df['Temperature'].apply(temperature)
print(df.groupby('grade').size())

grade
A     2874
B    26993
C    21105
D     1444
dtype: int64

## 6ì›” ë°ì´í„° ì¤‘ 12ì‹œì˜ Temperatureì˜ í‘œì¤€í¸ì°¨

In [578]:
df.loc[(df['month'] == 6)&(df['hour'] == 12)].Temperature.std()

2.0499417827951025

## 6ì›” ë°ì´í„° ì¤‘ 12ì‹œì˜ Temperatureì˜ ë¶„ì‚°

In [580]:
print(df.loc[(df['month'] == 6)&(df['hour'] == 12)].Temperature.var())

4.202261312849163

## Temperatureì˜ í‰ê·  ì´ìƒì˜ Temperatureì˜ ê°’ì„ ê°€ì§€ëŠ” ë°ì´í„°ë¥¼ Temperatureë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì •ë ¬ í–ˆì„ ë•Œ 4ë²ˆì§¸ í–‰ì˜ Humidity

In [587]:
print(df.loc[df['Temperature']>= df['Temperature'].mean()].sort_values('Temperature').reset_index(drop=True).loc[3,'Humidity'])

87.9

## Temperatureì˜ ì¤‘ê°„ê°’ ì´ìƒì˜ Temperatureì˜ ê°’ì„ ê°€ì§€ëŠ” ë°ì´í„°ë¥¼ Temperatureë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì •ë ¬í–ˆì„ ë•Œ 4ë²ˆì§¸ í–‰ì˜ Humidity

In [589]:
print(df.loc[df['Temperature']>= df['Temperature'].median()].sort_values('Temperature').reset_index(drop=True).loc[3,'Humidity'])

80.3

# í¬ì¼“ëª¬ ì •ë³´ ë°ì´í„°