# 작업 1유형

## 데이터 로드

In [53]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e2_p1_1.csv')
df.head(2)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,NaN,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.9,4.98,24.0
1,0.02731,NaN,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.9,9.14,21.6

## 주어진 Dataset에서 CRIM값이 가장 큰 10개의 지역을 구하고 10개의 지역의 CRIM값을 그 중 가장 작은 값으로 대체하라. 그리고 AGE 컬럼 값이 80이상인 대체 된 CRIM 평균값을 구하라

In [65]:
df = df.sort_values('CRIM',ascending=False).reset_index(drop=True)
df[:10].CRIM =df[:10].CRIM.min()
print(df.loc[df['AGE']>=80].CRIM.mean())

5.759386625

/tmp/ipykernel_29420/242798355.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[:10].CRIM =df[:10].CRIM.min()

## 1-1에서 사용한 데이터에서 RM 중앙값으로 해당 컬럼의 결측치를 대체하라 그리고 해당 컬럼의 결측치 대치 전후의 표준편차 차이의 절댓값을 소숫점 이하 3째자리 까지 구하라

In [67]:
print(round(df['RM'].std()- df['RM'].fillna(df['RM'].median()).std(),3))

0.027

## 주어진 Dataset의 DIS 평균으로 부터 1.5 * 표준편차를 벗어나는 영역을 이상치라고 판단하고 DIS 컬럼의 이상치들의 합을 구하여라.

In [75]:
print(df.loc[(df['DIS'] > df.DIS.mean() + 1.5*df.DIS.std())|(df['DIS'] < df.DIS.mean() - 1.5*df.DIS.std())].DIS.sum())

404.4101

# 작업 2유형

## x_train 데이터로 학습한 모델을 x_test에 적용하여 예측한 결과를 제출하라. 평가 지표는 f1_score이다.

In [94]:
import pandas as pd
import numpy as np 
from sklearn.preprocessing import LabelEncoder, MinMaxScaler 
from sklearn.model_selection import train_test_split 
from sklearn.metrics import f1_score 
from sklearn.ensemble import RandomForestClassifier 
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/X_test.csv")

x_train.drop(['ID'],axis=1,inplace=True)
y_train.drop(['ID'],axis=1,inplace=True)
test = x_test.drop(['ID'],axis=1)

for i in x_train.describe(include='object').columns:
    x_train[i] = LabelEncoder().fit_transform(x_train[i])
    test[i] = LabelEncoder().fit_transform(test[i])

print(x_train.describe(include='all'))
print(y_train.describe(include='all'))

xtr,xte,ytr,yte = train_test_split(x_train,y_train,test_size = 0.3,random_state = 23)

RFC = RandomForestClassifier(random_state = 80)
RFC.fit(xtr,ytr)
pred = RFC.predict(xte)

f1 = f1_score(yte,pred)
print(f1)

x_test['Reached.on.Time_Y.N'] = RFC.predict(test)
x_test[['ID','Reached.on.Time_Y.N']].to_csv('second_exam.csv',index=False)

       Warehouse_block  Mode_of_Shipment  Customer_care_calls  \
count      6598.000000       6598.000000          6598.000000
mean          2.348136          1.522279             2.912852
std           1.497476          0.756782             1.147120
min           0.000000          0.000000             0.000000
25%           1.000000          1.000000             2.000000
50%           3.000000          2.000000             3.000000
75%           4.000000          2.000000             4.000000
max           4.000000          2.000000             5.000000

       Customer_rating  Cost_of_the_Product  Prior_purchases  \
count      6598.000000          6598.000000      6598.000000
mean          2.991361           210.393149         3.577751
std           1.409624            48.258089         1.511394
min           1.000000            96.000000         2.000000
25%           2.000000           170.000000         3.000000
50%           3.000000           214.000000         3.000000
75%           4.000000           251.000000         4.000000
max           5.000000           310.000000        10.000000

       Product_importance       Gender  Discount_offered  Weight_in_gms
count         6598.000000  6598.000000       6598.000000    6598.000000
mean             1.347984     0.498181         13.353592    3604.191119
std              0.632243     0.500035         16.187267    1635.697627
min              0.000000     0.000000          1.000000    1001.000000
25%              1.000000     0.000000          4.000000    1834.250000
50%              1.000000     0.000000          7.000000    4119.500000
75%              2.000000     1.000000         10.000000    5027.500000
max              2.000000     1.000000         65.000000    7684.000000
       Reached.on.Time_Y.N
count          6598.000000
mean              0.596696
std               0.490598
min               0.000000
25%               0.000000
50%               1.000000
75%               1.000000
max               1.000000

/usr/local/lib/python3.11/site-packages/sklearn/base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

0.7015130674002751

# 작업 3유형

## 데이터 로드

In [95]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e2_p3_1.csv')
df.head(5)

     fish   height
0  fish_1  33.74cm
1  fish_2  31.64cm
2  fish_3  27.49cm
3  fish_4  31.43cm
4  fish_5  27.56cm

## 122마리의 height 평균값을 m(미터) 단위로 소숫점 이하 5자리까지 실수 값만  출력하라

In [114]:
df['height_int']= df['height'].str[:-2].astype(float)
print(round(df['height_int'].mean()/100,5))

0.29951

## 모집단의 평균 길이가 30cm 인지 확인하려 일표본 t 검정을 시행하여 확인하려한다. 검정통계량을 소숫점 이하 3째자리까지 구하여라

In [123]:
from scipy import stats 
statistic,pvalue = stats.ttest_1samp(df['height_int'],30)
print(round(statistic,3))

-0.217

## 위의 통계량에 대한 p-값을 구하고 (반올림하여 소숫점 이하 3째자리), 유의수준 0.05하에서 귀무가설과 대립가설중 유의한 가설을 하나를 선택하시오(귀무/대립)

In [125]:
from scipy import stats 
statistic,pvalue = stats.ttest_1samp(df['height_int'],30)
print(round(pvalue,3))
print('귀무')

0.829
귀무

## 데이터 로드
### 조사결과 70%의 성인 남성이 3년 동안에 적어도 1번 치과를 찾는다고 할때, 21명의 성인 남성이 임의로 추출되었다고 하자.

### 21명 중 16명 미만이 치과를 찾았을 확률(반올림하여 소숫점 이하 3자리)

In [128]:

n = 21
p = 0.7
k = 16

prob = stats.binom.cdf(k-1,n,p)
print(round(prob,3))

0.637

### 적어도 19명이 치과를 찾았을 확률(반올림하여 소숫점 이하 3자리)

In [132]:
n = 21 
p = 0.7
k = 19

prob = 1- stats.binom.cdf(k-1,n,p)
print(round(prob,3))

0.027