# 작업 1유형

## 데이터 로드

In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p1_1.csv')
df.head(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

## 결측치가 하나라도 존재하는 행의 경우 경우 해당 행을 삭제하라. 그후 남은 데이터의 상위 70%에 해당하는 데이터만 남겨둔 후 median_income 컬럼의 1분위수를 반올림하여 소숫점이하 2째자리까지 구하여라

In [8]:
df.dropna(inplace=True)
print(round(df[:int(len(df)*0.7)].median_income.describe()['25%'],2))

2.51

## 데이터 로드

In [9]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p1_2.csv')
df.head()

  Country Name Country Code  Year      Value
0   Arab World          ARB  1968  2576068.3
1   Arab World          ARB  1969  2843420.4
2   Arab World          ARB  1970  3138550.0
3   Arab World          ARB  1971  3642691.0
4   Arab World          ARB  1972  4331605.7

## 1990년도는 해당년도 평균 이하 GDP를 가지지만, 2010년도에는 해당년도 평균 이상 GDP를 가지는 국가의 숫자를 구하여라

In [20]:
print(len(set(df.loc[(df['Year'] == 1990)&(df['Value'] <= df.loc[df['Year']==1990].Value.mean())]['Country Name'].unique()) &set(df.loc[(df['Year'] == 2010)&(df['Value'] >= df.loc[df['Year']==2010].Value.mean())]['Country Name'].unique())))

5

## 데이터 로드

In [21]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p1_3.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3.0,"Braund, Mr. Owen Harris",male,22.0,1.0,0.0,A/5 21171,7.2500,NaN,S
1,2,1,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1.0,0.0,PC 17599,71.2833,C85,C
2,3,1,3.0,"Heikkinen, Miss. Laina",female,26.0,0.0,0.0,STON/O2. 3101282,7.9250,C85,S
3,4,1,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0.0,113803,53.1000,C123,S
4,5,0,3.0,"Allen, Mr. William Henry",male,35.0,0.0,0.0,373450,8.0500,C123,S

## 데이터에서 결측치가 가장 많은 컬럼을 출력하라

In [24]:
print(df.isnull().sum().sort_values(ascending=False).index[0])

Fare

# 작업 2유형 
## 종속 변수 : TravelInsurance , TravelInsurance가 1일 확률을 구해서 제출하라. 평가지표 : auc
## 제출 파일의 컬럼은 ID, proba 두개만 존재해야한다.

In [42]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import roc_auc_score 
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier 

train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p2_train_.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p2_test_.csv')

x = train.drop(['ID','TravelInsurance'],axis=1)
y = train['TravelInsurance']
z = test.drop(['ID'],axis=1)

for i in x.describe(include='object').columns:
    x[i] = LabelEncoder().fit_transform(x[i])
    z[i] = LabelEncoder().fit_transform(z[i])

print(x.describe(include='all'))
print(y.describe(include='all'))
print(z.describe(include='all'))

xtr,xte,ytr,yte = train_test_split(x,y,test_size=0.3,random_state = 23)


RFC = RandomForestClassifier(random_state = 23)
RFC.fit(xtr,ytr)
pred_proba = RFC.predict_proba(xte)[:,1]

auc = roc_auc_score(yte,pred_proba)
print(auc)

pred_proba = RFC.predict_proba(z)[:,1]
test['TravelInsurance'] = pred_proba
# print(help(pd.to_csv))
test[['ID','TravelInsurance']].to_csv('third_exam.csv',index=False)

               Age  Employment Type  GraduateOrNot  AnnualIncome  \
count  1490.000000      1490.000000    1490.000000  1.490000e+03
mean     29.716779         0.712081       0.846980  9.320470e+05
std       2.931325         0.452945       0.360128  3.760655e+05
min      25.000000         0.000000       0.000000  3.000000e+05
25%      28.000000         0.000000       1.000000  6.000000e+05
50%      29.000000         1.000000       1.000000  9.000000e+05
75%      32.000000         1.000000       1.000000  1.250000e+06
max      35.000000         1.000000       1.000000  1.800000e+06

       FamilyMembers  ChronicDiseases  FrequentFlyer  EverTravelledAbroad
count    1490.000000      1490.000000    1490.000000          1490.000000
mean        4.761745         0.285235       0.204698             0.189933
std         1.615161         0.451678       0.403616             0.392380
min         2.000000         0.000000       0.000000             0.000000
25%         4.000000         0.000000       0.000000             0.000000
50%         5.000000         0.000000       0.000000             0.000000
75%         6.000000         1.000000       0.000000             0.000000
max         9.000000         1.000000       1.000000             1.000000
count    1490.000000
mean        0.356376
std         0.479089
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000
Name: TravelInsurance, dtype: float64
              Age  Employment Type  GraduateOrNot  AnnualIncome  \
count  497.000000       497.000000     497.000000  4.970000e+02
mean    29.450704         0.716298       0.865191  9.349095e+05
std      2.852221         0.451248       0.341863  3.795871e+05
min     25.000000         0.000000       0.000000  3.000000e+05
25%     28.000000         0.000000       1.000000  6.000000e+05
50%     28.000000         1.000000       1.000000  9.000000e+05
75%     32.000000         1.000000       1.000000  1.250000e+06
max     35.000000         1.000000       1.000000  1.750000e+06

       FamilyMembers  ChronicDiseases  FrequentFlyer  EverTravelledAbroad
count     497.000000       497.000000     497.000000           497.000000
mean        4.726358         0.255533       0.225352             0.195171
std         1.594335         0.436600       0.418235             0.396732
min         2.000000         0.000000       0.000000             0.000000
25%         4.000000         0.000000       0.000000             0.000000
50%         4.000000         0.000000       0.000000             0.000000
75%         6.000000         1.000000       0.000000             0.000000
max         9.000000         1.000000       1.000000             1.000000
0.7530134796509116

# 작업 3유형

## 데이터 로드
## 투약 후 체중에서 투약 전 체중을 뺏을 때 값은 일반 적으로 세가지 등급으로 나눈다. -3이하 : A등급, -3초과 0이하 : B등급, 0 초과 : C등급. 약 실험에서 A,B,C 그룹간의 인원 수 비율은 2:1:1로 알려져 있다. 위 데이터 표본은 각 범주의 비율에 적합한지 카이제곱 검정하려한다.
## 일반적으로 관찰된 빈도가 기대된 빈도와 얼마나 일치하는지를 검정하는 통계적 방법

In [43]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p3_1.csv')
df.head()

       ID     투약전     투약후
0  user_1  55.137  56.106
1  user_2  66.584  60.409
2  user_3  52.259  50.639
3  user_4  77.081  69.164
4  user_5  62.677  57.622

## A 등급에 해당하는 유저는 몇명인지 확인하라

In [50]:
def grade(x):
    if x <= -3:
        return 'A'
    elif x <= 0 and x > -3:
        return 'B'
    elif x > 0:
        return 'C'
df['diff'] = df['투약후'] - df['투약전']
df['grade'] = df['diff'].apply(grade)
print(len(df.loc[df['grade']=='A']))

121

## 카이제곱검정 통계량을 반올림하여 소숫점 이하 3째자리까지 구하여라

In [81]:
from scipy import stats 
result = df.grade.value_counts().to_frame()
result['ratio'] = {'A':0.5*result['count'].sum(),'B':0.25*result['count'].sum(),'C':0.25*result['count'].sum()}
ct = pd.crosstab(result['ratio'],result['count'])
statistic, pvalue = stats.chisquare(result['count'],result['ratio'])
print(statistic)

3.6127659574468085

## 카이제곱 검정 p값을 반올림하여 소숫점 이하 3자리까지 구하고, 유의수준 0.05하에서 귀무가설과 대립가설중 유의한 가설을 하나를 선택하시오(귀무/대립)

In [83]:
print(round(pvalue,3))
print('귀무가설')

0.164
귀무가설

## 데이터 로드

In [84]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p3_2_.csv')
df.head()

     rpm group
0  163.6     A
1  246.9     A
2  234.9     A
3  156.9     A
4  226.6     A

## A,B 공장 각각 정규성을 가지는지 샤피로 검정을 통해 확인하라. (각 공장의 pvalue 출력할 것)

In [88]:
statistics, pvalue = stats.shapiro(df.loc[df['group']=='A'].rpm)
print(pvalue)
if pvalue >= 0.05:
    print('정규분포')
else:
    print('비정규분포')

statistics, pvalue = stats.shapiro(df.loc[df['group']=='B'].rpm)
print(pvalue)
if pvalue >= 0.05:
    print('정규분포')
else:
    print('비정규분포')

0.3979080924239819
정규분포
0.9562843067714429
정규분포

## A,B 공장 생산 제품의 rpm은 등분산인지 레베네 검정을 통해 확인하라.

In [97]:

statistics, pvalue = stats.levene(df.loc[df['group']=='A'].rpm,df.loc[df['group']=='B'].rpm)
print(pvalue)
print(statistics)
if pvalue >= 0.05:
    print('등분산')
else:
    print('이분산')

0.9038351280607142
0.014634456943777612
등분산

## 대응 표본 t 검정을 통해 B공장 제품들의 rpm이 A 공장 제품의 rpm보다 크다고 말할 수 있는지 검정하라. pvalue를 소숫점 이하 3자리까지 출력하고 귀무가설, 대립가설 중 하나를  출력하라*

In [101]:
statistic, pvalue = stats.ttest_rel(df.loc[df['group']=='B'].rpm,df.loc[df['group']=='A'].rpm,alternative='greater')
print(round(pvalue,3))
if pvalue >= 0.05:
    print('귀무가설')
else:
    print('대립가설')

0.009
대립가설