# 작업 1유형

## 데이터 로드

In [24]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p1_1.csv')
df.head(5)

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.5,2.625,211.350143,8.106

## Temperature컬럼에서 숫자가 아닌 문자들을 제거후 숫자 타입으로 바꾸고 3분위수에서 1분위수의 차이를 소숫점 이하 2자리까지 구하여라

In [25]:
df['Temperature'] = df['Temperature'].str.replace('*','')
df['Temperature'] = df['Temperature'].astype(float)
print(round(df['Temperature'].describe()['75%'] - df['Temperature'].describe()['25%'],2))

27.48

## 데이터 로드

In [26]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p1_2.csv')
df.head(5)

,Title,Video ID,Published At,Keyword,Likes,Comments,Views
0,Apple Pay Is Killing the Physical Wallet After...,wAZZ-UWGVHI,2022-08-23,tech,3407.0,672.0,135612.0
1,The most EXPENSIVE thing I own.,b3x28s61q3c,2022-08-24,tech,76779.0,4306.0,1758063.0
2,My New House Gaming Setup is SICK!,4mgePWWCAmA,2022-08-23,tech,63825.0,3338.0,1564007.0
3,Petrol Vs Liquid Nitrogen | Freezing Experimen...,kXiYSI7H2b0,2022-08-23,tech,71566.0,1426.0,922918.0
4,Best Back to School Tech 2022!,ErMwWXQxHp0,2022-08-08,tech,96513.0,5155.0,1855644.0

## Likes를 Comments로 나눈 비율이 20이상이면서 Keyword값이 minecraft인 영상들의 Views값의 평균을 정수로 구하여라

In [30]:
print(int(df.loc[(df['Likes']/df['Comments'] >= 20)&(df['Keyword'] == 'minecraft')].Views.mean()))

1789084

## 데이터 로드

In [31]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p1_3.csv')
df.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

## date_added가 2018년 1월 이면서 country가 United Kingdom 단독 제작인 데이터의 갯수

In [58]:
df['year'] = df['date_added'].str.split(',').str[1]
df['month'] = df['date_added'].str.split().str[0]
print(len(df.loc[(df['year'] == ' 2018') & (df['month'] == 'January')&(df['country'] == 'United Kingdom')]))

6

# 작업 2유형

## 예측 변수 Segmentation, test.csv에 대해 ID별로 Segmentation의 클래스를 예측해서 저장후 제출, 제출 데이터 컬럼은 ID와 Segmentation 두개만 존재해야함. 평가지표는 macro f1 score

In [89]:
import pandas as pd
import numpy as np 
from sklearn.preprocessing import LabelEncoder 
from sklearn.model_selection import train_test_split 
from sklearn.metrics import f1_score 
from sklearn.ensemble import RandomForestClassifier 
train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p2_train.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p2_test.csv')

x = train.drop(['ID','Segmentation','Ever_Married','Graduated','Profession','Var_1','Work_Experience','Family_Size'],axis=1)
y = train['Segmentation']
z = test.drop(['ID','Ever_Married','Graduated','Profession','Var_1','Work_Experience','Family_Size'],axis=1)

# x['Ever_Married'] = x['Ever_Married'].fillna(x['Ever_Married'].mode().values[0])
# x['Graduated'] = x['Graduated'].fillna(x['Graduated'].mode().values[0])
# x['Profession'] = x['Profession'].fillna(x['Profession'].mode().values[0])
# x['Var_1'] = x['Var_1'].fillna(x['Var_1'].mode().values[0])
# x['Work_Experience'] = x['Work_Experience'].fillna(x['Work_Experience'].mean())
# x['Family_Size'] = x['Family_Size'].fillna(x['Family_Size'].mean())

# z['Ever_Married'] = z['Ever_Married'].fillna(z['Ever_Married'].mode().values[0])
# z['Graduated'] = z['Graduated'].fillna(z['Graduated'].mode().values[0])
# z['Profession'] = z['Profession'].fillna(z['Profession'].mode().values[0])
# z['Var_1'] = z['Var_1'].fillna(z['Var_1'].mode().values[0])
# z['Work_Experience'] = z['Work_Experience'].fillna(z['Work_Experience'].mean())
# z['Family_Size'] = z['Family_Size'].fillna(z['Family_Size'].mean())

for i in x.describe(include='object').columns:
    x[i] = LabelEncoder().fit_transform(x[i])
    z[i] = LabelEncoder().fit_transform(z[i])

xtr,xte,ytr,yte = train_test_split(x,y,test_size= 0.33, random_state = 23)

RFC = RandomForestClassifier(random_state= 23)

RFC.fit(xtr,ytr)
pred = RFC.predict(xte)

f1 = f1_score(yte,pred,average='micro')
print(f1)

pred = RFC.predict(z)
test['Segmentation'] = pred
print(test[['ID','Segmentation']])
test[['ID','Segmentation']].to_csv('forth_exam.csv',index=False)

0.4227188081936685
          ID Segmentation
0     460406            D
1     466890            C
2     466145            C
3     465805            A
4     466137            D
...      ...          ...
1537  463734            B
1538  466055            B
1539  465689            D
1540  460401            D
1541  465215            B

[1542 rows x 2 columns]

# 작업 3유형

## 데이터 로드

In [90]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p3_1_.csv')
df.head()

         학번     학과 성별
0  DFSKJK_1   경영학과  여
1  DFSKJK_2   사회학과  여
2  DFSKJK_3  기계공학과  여
3  DFSKJK_4   경제학과  남
4  DFSKJK_5  기계공학과  여

## 학과 평균 인원에 대한 값을 소숫점 이하 3자리까지 구하여라

In [92]:
print(round(df.groupby('학과').size().mean(),3))

170.333

## 카이제곱검정 독립성 검정 통계량을 소숫점 이하 3자리까지 구하여라

In [105]:
from scipy import stats 
ct = pd.crosstab(df['학과'],df['성별'])
statistics, pvalue, dof, expected = stats.chi2_contingency(ct)
print(round(statistics,3))

5.646

## 카이제곱검정 독립성 검정의 pvalue를 소숫점 이하 3자리까지 구하여라. 유의수준 0.05하에서 귀무가설과 대립가설중 유의한 것을  출력하라

In [107]:
print(round(pvalue,3))
if pvalue >= 0.05:
    print('귀무가설, 독립적임')
else:
    print('대립가설, 서로 연관이 있음')

0.342
귀무가설, 독립적임

## 어느 학교에서 수학 시험을 본 학생 100명 중 60명이 60점 이상을 받았다. 이 학교의 수학 시험의 평균 점수가 50점 이상인지 95%의 신뢰 수준에서 검정하려한다.

## 검정 통계량을 소숫점 이하 3자리에서 구하시오

In [109]:
import numpy as np
n = 100
p_hat = 0.6
p = 0.5
alpha = 0.05

# 검정 통계량 계산
z = round((p_hat - p) / np.sqrt(p * (1 - p) / n),5)
print(z)

2.0

## pvalue를 소숫점 이하 3자리까지 구하고 귀무가설과 대립가설중 유의한 것을  출력하라

In [110]:
from scipy.stats import norm
p_value = round(1 - norm.cdf(z),3)

print(p_value)
print('대립')

0.023
대립